aiosmtpd
BeautifulSoup4
email-validator==1.3.1
fake_useragent
flask==2.3.0
Flask-Limiter==3.7.0
flask-login==0.6.2
flask-mail==0.9.1
flask-migrate==4.0.4
flask-moment==1.0.5
flask-paginate
flask-sqlalchemy==3.0.2
flask-wtf==1.2.1
gunicorn
pillow
pyjwt==2.6.0
python-dotenv
requests
werkzeug==2.3.0