.about-active {
	background: linear-gradient(to bottom, #111111 calc(100% - 2px), #ffffff 5px) no-repeat left bottom;
}
.about-active:hover {
	background: linear-gradient(to bottom, rgb(26, 26, 26) calc(100% - 2px), #ffffff 5px) no-repeat left bottom !important;
} 
.mt-about {display: block !important;}
/* BLOCK 1 */
#block1 {
	height: 100px;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
}
.block1inner {
	height: 100%;
	margin: 0 auto;
	width: 1000px;
}
.about-active {
	background: linear-gradient(to bottom, #111111 calc(100% - 2px), #ffffff 5px) no-repeat left bottom;
}
.about-active:hover {
	background: linear-gradient(to bottom, rgb(26, 26, 26) calc(100% - 2px), #ffffff 5px) no-repeat left bottom !important;
}
.block1inner h3 {padding-top: 8px; text-decoration: underline;}
.version {
	background: #111111;
	border-radius: 15px;
	display: inline-block;
	margin-top: 15px;
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) { 
	.block1inner {width: 100%;}
	#block1 p {padding-left: 10px; padding-right: 10px;}
	.block1inner h3 {padding-left: 10px; padding-right: 10px;}
	.version {margin-left: 10px; margin-right: 10px;}
}
