.about-active {
	background: linear-gradient(to bottom, var(--color-active-bg) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom;
}
.about-active:hover {
	background: linear-gradient(to bottom, var(--color-active-bg-hover) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom !important;
} 
.mt-about {display: block !important;}
/* THEMES */
:root {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-version: #111111;
}
[data-theme="light"] {
	--color-active-bg: #efefef;
	--color-active-bg-hover: rgb(229, 229, 229);
	--color-active-bottom: #000000;
	--color-block1: #000000;
	--color-version: #efefef;
}
[data-theme="dark"] {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-version: #111111;
}
/* BLOCK 1 */
#block1 {
	height: 100px;
	width: 100%;
	color: var(--color-block1);
	font-size: 16px;
}
.block1inner {
	height: 100%;
	margin: 0 auto;
	width: 1000px;
}
.block1inner h3 {padding-top: 8px; text-decoration: underline;}
.version {
	background: var(--color-version);
	border-radius: 15px;
	display: inline-block;
	margin-top: 15px;
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) { 
	.block1inner {width: 100%;}
	#block1 p {padding-left: 10px; padding-right: 10px;}
	.block1inner h3 {padding-left: 10px; padding-right: 10px;}
	.version {margin-left: 10px; margin-right: 10px;}
}
