.mt-tam {display: block !important;}
/* THEMES */
:root {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-details :#000000;
	--color-summary: #101010;
	--color-font-summary: #ffffff;
	--color-details-content-bg: #000000;
	--color-details-content-border: #171717;
	--color-m-get: #41417d;
	--color-m-post: #095126;
	--color-m-put: #827730;
	--color-m-delete: #802116;
	--color-method-get: #6b6bbc;
	--color-method-post: #1c7e45;
	--color-method-put: #b3a64f;
	--color-method-delete: #ac3426;
	--color-desc: #2b2b2b;
	--color-thtd: #242424;
	--color-pre: #171717;
}
[data-theme="light"] {
	--color-active-bg: #efefef;
	--color-active-bg-hover: rgb(229, 229, 229);
	--color-active-bottom: #000000;
	--color-block1: #000000;
	--color-details: #ffffff;
	--color-summary: #efefef;
	--color-font-summary: #000000;
	--color-details-content-bg: #ffffff;
	--color-details-content-border: #e8e8e8;
	--color-m-get: #dbdbef;
	--color-m-post: #c9edd9;
	--color-m-put: #f3edc9;
	--color-m-delete: #edc3be;
	--color-method-get: #ababde;
	--color-method-post: #68c08e;
	--color-method-put: #e2d58c;
	--color-method-delete: #df7c71;
	--color-desc: #cfcfcf;
	--color-thtd: #e8e8e8;
	--color-pre: #efefef;
}
[data-theme="dark"] {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-details :#000000;
	--color-summary: #101010;
	--color-font-summary: #ffffff;
	--color-details-content-bg: #000000;
	--color-details-content-border: #171717;
	--color-m-get: #41417d;
	--color-m-post: #095126;
	--color-m-put: #827730;
	--color-m-delete: #802116;
	--color-method-get: #6b6bbc;
	--color-method-post: #1c7e45;
	--color-method-put: #b3a64f;
	--color-method-delete: #ac3426;
	--color-desc: #2b2b2b;
	--color-thtd: #242424;
	--color-pre: #171717;
}
/* SCALING */
:root {
	--font-block1: 16px;
	--font-flashed: 14px;
	--height-flashed: 17px;
}
[data-scaling="normal"] {
	--font-block1: 16px;
	--font-flashed: 14px;
	--height-flashed: 17px;
}
[data-scaling="large"] {
	--font-block1: 18px;
	--font-flashed: 16px;
	--height-flashed: 19px;
}
/* ACCENT COLOR APPLICATION */
/* BLOCK 1 */
#block1 {
	height: 100px;
	width: 100%;
	color: var(--color-block1);
	font-size: var(--font-block1);
}
.block1inner {
	height: 100%;
	margin: 0 auto;
	width: 1000px;
}
#block1 h2 {padding: 12px 0px 0px 0px;}
.errorh2 {padding-left: 0px !important; padding-bottom: 0px !important;}
/* FLASHED MESSAGES */
#flashed-err {
	background: var(--color-flashed-err); 
	font-size: var(--font-flashed);
	min-height: var(--height-flashed);
	margin-bottom: 12px;
	margin-top: 0px;
	padding: 6px;
}
#flashed-norm {
	background: var(--color-flashed-norm); 
	font-size: var(--font-flashed);
	min-height: var(--font-flashed);
	margin-bottom: 12px;
	margin-top: 0px;
	padding: 6px;
}

.generalinfo {
	background: var(--color-summary);
	border-radius: 8px;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 12px;

}
.apistatus {
	border-radius: 18px;
	display: inline-block;
	font-family: Inter-Medium;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 6px;
	padding: 6px 14px 6px 14px; /* Top Right Bottom Left */
}
.apistatus-d {
	background: var(--color-method-delete);
}
.apistatus-e {
	background: var(--color-method-post);
}
#endpoints {
	margin-bottom: 0px;
}
details {
	margin-top: 10px;
	border-radius: 5px;
	background-color: var(--color-details);
} 
summary {
	background-color: var(--color-summary);
	border-radius: 5px;
	color: var(--color-font-summary);
	padding: 6px 3px 6px 6px; /* Top Right Bottom Left */
	font-size: 18px;
	font-family: Inter-Medium;
	cursor: pointer;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	outline: none;
	user-select: none;
}
summary::marker {
	display: none; /* Hide the default arrow */
}
summary:after {
	content: '▼';
	font-size: 1rem;
	margin-left: auto;
	padding-left: 4px;
	padding-right: 4px;
	transition: transform 0.15s;
}
details[open] summary {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
details[open] summary:after {
	transform: rotate(180deg);
}
.details-content {
	border-top: 1px solid var(--color-details-content-border);
	background-color: var(--color-details-content-bg);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.method {
	border-radius: 4px;
	font-family: Inter-SemiBold;
	margin-right: 10px;
	padding: 4px 0px 4px 0px; /* Top Right Bottom Left */
	text-align: center;
	width: 84px;
}
.m-get {
	background: var(--color-m-get);
}
.m-post {
	background: var(--color-m-post);
}
.m-put {
	background: var(--color-m-put);
}
.m-delete {
	background: var(--color-m-delete);
}
.method-get {
	background: var(--color-method-get);
}
.method-post {
	background: var(--color-method-post);
}
.method-put {
	background: var(--color-method-put);
}
.method-delete {
	background: var(--color-method-delete);
}
.desc {
	background: var(--color-desc);
	border-radius: 14px;
	font-family: Inter-Regular;
	font-size: 14px;
	line-height: 18px;
	margin-left: 10px;
	padding: 4px 10px 4px 10px; /* Top Right Bottom Left */
}

.section-title {
	font-family: Inter-Medium;
	padding: 10px;
}
.section-title-ct {
	border-radius: 14px;
	font-family: Inter-Regular;
	font-size: 14px;
	margin-left: 10px;
	padding: 4px 10px 4px 10px; /* Top Right Bottom Left */
}
.section-body {
	padding: 10px;
}
table {
	border-collapse: collapse;
}
td, th {
	border: 1px solid var(--color-thtd);
	padding: 10px;
}
.paramdesc {
	color: #787878;
	font-size: 14px;
	font-style: italic;
}
.paramreq {
	color: #910505;
	font-size: 14px;
	font-style: italic;
}
.status {
	margin-top: 0px;
	margin-bottom: 10px;
}
pre {
	background: var(--color-pre);
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 10px;
}
pre code {
    white-space: pre-wrap; /* Wraps long text */
    word-wrap: break-word; /* Breaks long words */
    overflow: hidden; /* Prevents horizontal scrolling */
}


/* RESPONSIVE */
@media screen and (max-width: 1000px) { 
	.block1inner {width: 100%;}
	#block1 p {padding-left: 10px; padding-right: 10px;}
	#block1 h2 {padding-left: 10px; padding-right: 10px;}
	details {margin-left: 10px; margin-right: 10px;}
	.apistatus, .generalinfo {margin-left: 10px; margin-right: 10px;}
}
@media screen and (max-width: 710px) { 
	.desc {display: none;}
}