.myrecipes-active {
	background: linear-gradient(to bottom, var(--color-active-bg) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom;
}
.myrecipes-active:hover {
	background: linear-gradient(to bottom, var(--color-active-bg-hover) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom !important;
}
.mt-myrecipes {display: block !important;}
/* THEMES */
:root {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-recbtn-bg: #2b2b2b;
	--color-recbtn-font: #ffffff;
	--color-btn-default: #ffffff;
	--color-btn2-default-bg: #111111;
	--color-btn2-default-font: #ffffff;
	--color-btn2-default-hover: #161616;
	--color-btn2-default-active: #0c0c0c;
	--color-settingsbtn-bg: #111111;
	--color-settings-content-bg: #1a1a1a;
	--color-settings-content-boxshadow: rgba(0,0,0,0.2);
	--color-set-cont-bef-border: #1a1a1a;
	--color-cust-select-bg: #2b2b2b;
	--color-cust-select-font: #d1d1d1;
	--color-cust-select-after-border: #ffffff;
	--color-btn3-default: #ffffff;
	--color-b1leftinner-bg: #111111;
	--color-b1leftinner-border: #202020;
	--color-catselected: #1a1a1a;
	--color-catselected-mobile: #111111;
	--color-cat-label: #ffffff;
	--color-cat-label-hover: #f1f1f1;
	--color-form-control-border: #818181;
	--color-form-control-font: #d1d1d1;
	--color-recipecount: #111111;
	--color-r1bottom: rgba(20, 20, 20, 0.82);
	--color-recipe2inner: #111111;
	--color-r2bottom-span: #aeaeae;
	--color-r3bottom: rgba(20, 20, 20, 0.82);
	--color-r3bottom-span: #bdbdbd;
	--color-r3span: #111111;
	--color-btn-paginate: #ffffff;
}
[data-theme="light"] {
	--color-active-bg: #efefef;
	--color-active-bg-hover: rgb(229, 229, 229);
	--color-active-bottom: #000000;
	--color-block1: #000000;
	--color-recbtn-bg: #cfcfcf;
	--color-recbtn-font: #000000;
	--color-btn-default: #000000;
	--color-btn2-default-bg: #efefef;
	--color-btn2-default-font: #000000;
	--color-btn2-default-hover: #ececec;
	--color-btn2-default-active: #f4f4f4;
	--color-settingsbtn-bg: #efefef;
	--color-settings-content-bg: #e5e5e5;
	--color-settings-content-boxshadow: rgba(255,255,255,0.2);
	--color-set-cont-bef-border: #e5e5e5;
	--color-cust-select-bg: #cfcfcf;
	--color-cust-select-font: #3e3e3e;
	--color-cust-select-after-border: #141414;
	--color-btn3-default: #000000;
	--color-b1leftinner-bg: #efefef;
	--color-b1leftinner-border: #e3e3e3;
	--color-catselected: #e5e5e5;
	--color-catselected-mobile: #efefef;
	--color-cat-label: #000000;
	--color-cat-label-hover: #0e0e0e;
	--color-form-control-border: #7e7e7e;
	--color-form-control-font: #3e3e3e;
	--color-recipecount: #efefef;
	--color-r1bottom: rgba(232, 232, 232, 0.86);
	--color-recipe2inner: #efefef;
	--color-r2bottom-span: #5c5c5c;
	--color-r3bottom: rgba(232, 232, 232, 0.86);
	--color-r3bottom-span: #424242;
	--color-r3span: #efefef;
	--color-btn-paginate: #000000;
}
[data-theme="dark"] {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-recbtn-bg: #2b2b2b;
	--color-recbtn-font: #ffffff;
	--color-btn-default: #ffffff;
	--color-btn2-default-bg: #111111;
	--color-btn2-default-font: #ffffff;
	--color-btn2-default-hover: #161616;
	--color-btn2-default-active: #0c0c0c;
	--color-settingsbtn-bg: #111111;
	--color-settings-content-bg: #1a1a1a;
	--color-settings-content-boxshadow: rgba(0,0,0,0.2);
	--color-set-cont-bef-border: #1a1a1a;
	--color-cust-select-bg: #2b2b2b;
	--color-cust-select-font: #d1d1d1;
	--color-cust-select-after-border: #ffffff;
	--color-btn3-default: #ffffff;
	--color-b1leftinner-bg: #111111;
	--color-b1leftinner-border: #202020;
	--color-catselected: #1a1a1a;
	--color-catselected-mobile: #111111;
	--color-cat-label: #ffffff;
	--color-cat-label-hover: #f1f1f1;
	--color-form-control-border: #818181;
	--color-form-control-font: #d1d1d1;
	--color-recipecount: #111111;
	--color-r1bottom: rgba(20, 20, 20, 0.82);
	--color-recipe2inner: #111111;
	--color-r2bottom-span: #aeaeae;
	--color-r3bottom: rgba(20, 20, 20, 0.82);
	--color-r3bottom-span: #bdbdbd;
	--color-r3span: #111111;
	--color-btn-paginate: #ffffff;
}
/* ACCENT COLOR APPLICATION */
.recbtn-active {background-color: var(--color) !important;}
.btn-default {background-color: var(--color);}
.btn-default:hover {background: var(--color-lighter);}
.btn-default:active, .btn-default.active {background: var(--color-darker);}
.btn3-default {background-color: var(--color);}
.btn3-default:hover {background: var(--color-lighter);}
.btn3-default:active, .btn3-default.active {background: var(--color-darker);}
.btn-next {background-color: var(--color);}
.btn-next:hover {background: var(--color-lighter);}
.btn-next:active, .btn-next.active {background: var(--color-darker);}
.btn-prev {background-color: var(--color);}
.btn-prev:hover {background: var(--color-lighter);}
.btn-prev:active, .btn-prev.active {background: var(--color-darker);}
.btn-submit {background-color: var(--color);}
.btn-submit:hover {background: var(--color-lighter);}
.btn-submit:active, .btn-submit.active {background: var(--color-darker);}
.btn-addtolist {background-color: var(--color);}
.btn-addtolist:hover {background: var(--color-lighter);}
.btn-addtolist:active, .btn-addtolist.active {background: var(--color-darker);}
/* BLOCK 1 */
#block1 {
	height: 100px;
	width: 100%;
	color: var(--color-block1);
	font-size: 16px;
}
#block1 h2 {padding-top: 12px; padding-bottom: 16px;}
.block1inner {
	height: 100%;
	margin: 0 auto;
	width: 1000px;
}
#recipenav {
	height: 57px;
	text-align: right;
	width: 100%;
}
.recipenavleft {
	float: left;
	height: 100%;
}
.recbtn {
	background-color: var(--color-recbtn-bg);
	border: none;
	border-radius: 15px;
	color: var(--color-recbtn-font);
	cursor: pointer;
	font-size: 16px;
	height: 30px;
	margin-top: 14px;
	-webkit-font-smoothing: subpixel-antialiased;
}
.recbtn:active, .recbtn.active, .recbtn:hover, .recbtn:focus {outline: none;}
.recbtn1 {width: 113px;}
.recbtn2 {width: 100px;}
.recbtn3 {width: 113px;}
.btn-default {
	border: none;
	color: var(--color-btn-default);
	cursor: pointer;
	font-size: 16px;
	height: 38px;
	margin-top: 9px;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 137px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn-default:hover {background: #2d87c4;}
.btn-default:active, .btn-default.active {background: #2c81ba;}
.btn-default:active, .btn-default.active, .btn-default:hover, .btn-default:focus {outline: none;}
.btn-text {float: left; padding-left: 4px; padding-right: 7px;}
.btn-icon {display: block; float: left; height: 20px; width: 20px;}
.btn-icon img {height: 100%; width: 100%;}
.btn2-default {
	background-color: var(--color-btn2-default-bg);
	border: none;
	color: var(--color-btn2-default-font);
	cursor: pointer;
	height: 38px;
	padding: 0;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 38px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn2-default:hover {background: var(--color-btn2-default-hover);}
.btn2-default:active, .btn2-default.active {background: var(--color-btn2-default-active);}
.btn2-default:active, .btn2-default.active, .btn2-default:hover, .btn2-default:focus {outline: none;}
.btn2-icon {display: block; height: 20px; padding-left: 9px; width: 20px;}
.btn2-icon img {height: 100%; width: 100%;}
/* FLASHED MESSAGES */
#flashed-err {
	background: var(--color-flashed-err);
	font-size: 14px;
	height: 17px;
	margin-bottom: 12px;
	margin-top: 0px;
	padding: 6px;
}
#flashed-norm {
	background: var(--color-flashed-norm);
	font-size: 14px;
	height: 17px;
	margin-bottom: 12px;
	margin-top: 0px;
	padding: 6px;
}
/* DISPLAY SETTINGS MENU */
.settingsbtn {
	background-color: var(--color-settingsbtn-bg);
	float: right;
	height: 38px;
	margin-left: 9px;
	margin-top: 9px;
	width: 38px;
}
.settings-content {
	background-color: var(--color-settings-content-bg);
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px var(--color-settings-content-boxshadow);
	display: none;
	padding: 8px;
	position: absolute;
	font-size: 16px;
	width: 170px;
	margin-left: -148px;
    margin-top: 10px;
	text-align: left;
	z-index: 1;
}
.settings-content:before,
.settings-content:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top: 0;
}
.settings-content:before {
  top: -10px;
  left: 156px;
  border-bottom-color: var(--color-set-cont-bef-border);
  border-width: 10px;
}
.settings-content h3 {
	font-size: 18px;
	margin-bottom: 12px;
}
.showsettings {display: block;}
#recipe_size {
	margin-bottom: 10px;
	width: 100%;
}
#recipe_size li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
	margin-top: 4px;
}
#recipe_size label {
	margin-left: 5px;
	margin-top: 3px;
}
#recipe_size-0 {
	border: 0px;
	display: table-cell;
	height: 20px;
	width: 20px;
	margin-left: 0px;
}
#recipe_size-1 {
	border: 0px;
	display: table-cell;
	height: 20px;
	width: 20px;
	margin-left: 0px;
}
#recipe_size-2 {
	border: 0px;
	display: table-cell;
	height: 20px;
	width: 20px;
	margin-left: 0px;
}
.custom-select {margin-bottom: 0px; margin-top: 14px;}
.cust-select select {
	background: var(--color-cust-select-bg);
    border: none;
    box-shadow: none;
	color: var(--color-cust-select-font);
	height: 38px;
	margin-right: 0px;
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	-moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}
.cust-select:after {
    content: "";
    position: absolute;
    bottom: 70px;
    right: 20px;
    width: 0;
    height: 0;
    pointer-events: none; /* Prevent interaction */
    border: 6px solid transparent;
    border-color: var(--color-cust-select-after-border) transparent transparent transparent;
}
.btn3-default {
	border: none;
	border-radius: 7px;
	color: var(--color-btn3-default);
	cursor: pointer;
	font-size: 16px;
	height: 38px;
	margin-top: 14px;
	padding: 0;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 64px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn3-default:active, .btn3-default.active, .btn3-default:hover, .btn3-default:focus {outline: none;}

#b1left {
	float: left;
	width: 280px;
}
.b1leftinner div {
	background: var(--color-b1leftinner-bg);
	border-bottom: solid 1px var(--color-b1leftinner-border);
	height: 50px;
	text-align: left;
	width: 268px;
}
.b1leftinner div:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.b1leftinner div:last-child {
	border-bottom: none !important;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.cat-selected {
	background: var(--color-catselected) !important;
}
.cat-label {
	color: var(--color-cat-label);
	display: inline-block;
	font-size: 18px;
	line-height: 50px;
	margin: 0;
	overflow: hidden;
	padding-left: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 205px;
}
.cat-label:hover {color: var(--color-cat-label-hover);}
.cat-label a:hover {text-decoration: none;}
.cat-label2 {
	color: var(--color-cat-label);
	display: none;
	font-size: 18px;
	line-height: 50px;
	margin: 0;
	overflow: hidden;
	padding-left: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 205px;
}
.cat-label2:hover {color: var(--color-cat-label-hover);}
.cat-label2 a:hover {text-decoration: none;}
.cat-trash {float: right; margin-top: 14px; margin-right: 15px;}
.form-control {
	background: none;
    border: none;
	border-bottom: 1px solid var(--color-form-control-border);
	border-radius: 0;
    box-shadow: none;
	color: var(--color-form-control-font);
    font-size: 18px;
	height: 34px;
	margin-left: 9px;
    margin-right: 5px;
	margin-top: 6px;
	padding: 0 !important;
	width: 205px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
} 
.form-control:focus {box-shadow: none; outline: 0; -webkit-box-shadow: none;}
.form-control::placeholder {color: var(--color-form-control-font);}
.btn4-default {
	background: none;
	border: none;
	cursor: pointer;
	float: right;
	height: 38px;
	margin-right: 6px;
	margin-top: 5px;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 38px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn4-default:active, .btn4-default.active, .btn4-default:hover, .btn4-default:focus {outline: none;}
.btn4-icon {display: block; height: 20px; padding-left: 5px; width: 20px;}
.btn4-icon img {height: 100%; width: 100%;}
.btn5-default {
	background: none;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	float: right;
	height: 38px;
	margin-right: 6px;
	margin-top: 6px;
	padding-left: 4px;
	padding-right: 4px;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 38px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn5-default:active, .btn5-default.active, .btn5-default:hover, .btn5-default:focus {outline: none;}
.btn5-icon {display: block; height: 24px; padding-left: 3px; width: 24px;}
.btn5-icon img {height: 100%; width: 100%;}

#b1right {
	float: left;
	width: calc(100% - 280px);
}
#recipecount {
	background: var(--color-recipecount); 
	font-size: 14px;
	height: 17px;
	margin-bottom: 12px;
	margin-top: 0px;
	padding: 6px;
}

/* RECIPE LIST - LARGE */
.recipe1cont {margin-bottom: 20px;}
.recipe1cont:after {clear: both; content: ""; display: table;}
.recipe1 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	padding-top: 0%;
	width: 50%;
	aspect-ratio: 4 / 3;
}
.r1bottom {
	background: linear-gradient(to bottom, transparent 0%, var(--color-r1bottom) 100%);
	height: 40%;
	margin-top: 45%;
	width: 100%;
}
.recipe1-text {
	height: 56px;
	overflow: hidden;
	font-size: 22px;
	width: calc(100% - 30px);
	line-height: 1.2;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 34px;
}
.recipe1-text:after {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.recipe1-text div {
	display: inline-block;
	display: -webkit-inline-box;
	max-height: 100%;
	vertical-align: middle;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
/* RECIPE LIST - SMALL */
.recipe2cont {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0 auto; 
	width: 100%;
}
.recipe2cont:after {clear: both; content: ""; display: table;}
.recipe2 {
	flex-basis: calc(33.33% - 13.5px);
	padding-top: 0;
	margin-left: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.recipe2cont .r2a:nth-of-type(3n) .recipe2 {
    margin-right: 0; /* Remove margin-right from every 3rd item */
}
.recipe2inner {
	background-color: var(--color-recipe2inner);
	border-radius: 15px;
}
.r2top {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0px 0px;
	aspect-ratio: 4 / 3;
}
.r2bottom {
	display: flex; /* Used for vertical centering */
	flex-direction: column; /* Stacks the child elements vertically */
	height: 80px;
	justify-content: center; /* Vertically center the items */
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
.r2bottom div {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 18px;
	margin: 0;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 40px;
}
.r2bottom span {color: var(--color-r2bottom-span); font-size: 14px;}
/* RECIPE LIST - DETAILS */
.recipe3cont {margin: 0 auto; width: 100%; overflow: hidden;}
.recipe3continner {margin-left: -10px; width: calc(100% + 20px);}
.recipe3continner:after {clear: both; content: ""; display: table;}
.recipe3 {
	aspect-ratio: 4 / 3;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 15px;
	float: left;
	padding-top: 0;
	width: calc(50% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}
.r3bottom {
	background: linear-gradient(to bottom, transparent 0%, var(--color-r3bottom) 100%);
	border-bottom-left-radius: 14.5px;
	border-bottom-right-radius: 14.5px;
	height: 80%;
	margin-top: 20%;
	width: 100%;
	position: relative;
}
.r3binner {
	width: 100%;
	width: calc(100% - 20px);
	position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.r3binner div {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 18px;
	margin: 0;
	padding-bottom: 5px;
	padding-top: 24px;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 40px;
}
.r3span {
	background: var(--color-r3span); 
	color: var(--color-r3bottom-span); 
	display: inline-block;
}
.r3spanscheduled {
	background: var(--color); 
	color: var(--color-r3bottom-span); 
	display: inline-block;
}
.r3category {
	border-radius: 10px;
	font-size: 14px; 
	padding: 2px 8px 2px 8px; /* Top right bottom left */
}
.r3time {
	border-radius: 5px;
	font-size: 12px;
	margin-top: 4px;
	padding: 2px;
}
.r3calories {
	border-radius: 5px;
	font-size: 12px;
	margin-top: 4px;
	padding: 2px;
}
.r3created {
	border-radius: 5px;
	font-size: 12px;
	padding: 2px;
	margin-top: 4px;
}
/* PAGINATION BUTTONS */
.prevnext {height: 54px; text-align: center; width: 100%;}
.btn-next {
	border: none;
	border-radius: 7px;
	color: var(--color-btn-paginate);
	cursor: pointer;
	font-size: 16px;
	height: 34px;
	margin-left: 6px;
	padding: 0;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 76px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn-next:active, .btn-next.active, .btn-next:hover, .btn-next:focus {outline: none;}
.btn-next-text {float: left; padding-left: 8px;}
.btn-next-icon {
	display: block; 
	float: right; 
	height: 16px; 
	padding-right: 8px; 
	padding-top: 2px;
	width: 10px;
}
.btn-next-icon img {height: 100%; width: 100%;}
.btn-prev {
	border: none;
	border-radius: 7px;
	color: var(--color-btn-paginate);
	cursor: pointer;
	font-size: 16px;
	height: 34px;
	margin-right: 6px;
	padding: 0;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 107px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn-prev:active, .btn-prev.active, .btn-prev:hover, .btn-prev:focus {outline: none;}
.btn-prev-text {float: right; padding-right: 8px;}
.btn-prev-icon {
	display: block; 
	float: left; 
	height: 16px; 
	padding-left: 8px; 
	padding-top: 2px;
	width: 10px;
}
.btn-prev-icon img {height: 100%; width: 100%;}

/* RESPONSIVE */
@media screen and (max-width: 1000px) { 
	.block1inner {padding-left: 10px; padding-right: 10px; width: calc(100% - 20px);}
	#block1 p {padding-left: 10px;}
}
@media screen and (max-width: 950px) { 
	.recipe1-text {padding-top: 28px;}
}
@media screen and (max-width: 930px) { 
	.recipe1-text {font-size: 20px; height: 52px; padding-top: 27px;}
}
@media screen and (max-width: 920px) { 
	.r2bottom {height: 75px;}
	.r2bottom div {font-size: 16px; max-height: 36px;}
	.r2bottom span {font-size: 12px;}
}
@media screen and (max-width: 900px) { 
	.recipe1-text {padding-top: 23px;}
}
@media screen and (max-width: 880px) { 
	.recipe2 {flex-basis: calc(50% - 10px);}
	.recipe2cont .r2a:nth-of-type(2n) .recipe2 {
		margin-right: 0; /* Remove margin-right from every 2nd item */
	}
	.recipe2cont .r2a:nth-of-type(3n) .recipe2 {
		margin-right: 20px; /* Add margin-right to every 3rd item */
	}
	.r2bottom {height: 80px;}
	.r2bottom div {font-size: 18px; max-height: 40px;}
	.r2bottom span {font-size: 14px;}
}
@media screen and (max-width: 870px) { 
	.recipe1-text {font-size: 18px; height: 46px; padding-top: 23px;}
}
@media screen and (max-width: 855px) { 
	.r3binner div {font-size: 16px; max-height: 36px;}
	.r3category {font-size: 12px; }
	.r3time {font-size: 10px;}
	.r3calories {font-size: 10px;}
	.r3created {font-size: 10px;}
}
@media screen and (max-width: 840px) { 
	.recipe1-text {padding-top: 19px;}
}
@media screen and (max-width: 815px) { 
	.recipe2 {
		flex-basis: calc(50% - 5px);
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.recipe2cont .r2a:nth-of-type(3n) .recipe2 {
		margin-right: 10px; /* Adjust margin-right for every 3rd item */
	}
}
@media screen and (max-width: 800px) { 
	.recipe1 {width: 100%;}
	.recipe1-text {font-size: 26px; height: 62px; padding-top: 58px;}
	.r2bottom {height: 75px;}
	.r2bottom div {font-size: 16px; max-height: 36px;}
	.r2bottom span {font-size: 12px;}
	.recipe3 {width: calc(100% - 20px);}
	.r3binner div {font-size: 18px; max-height: 40px;}
	.r3category {font-size: 14px; }
	.r3time {font-size: 12px;}
	.r3calories {font-size: 12px;}
	.r3created {font-size: 12px;}
}
@media screen and (max-width: 770px) { 
	.recipe1-text {padding-top: 52px;}
}
@media screen and (max-width: 750px) { 
	#recipenav {height: 49px;}
	.recipenavleft {float: none; height: 40px; text-align: center;}
	.recbtn {margin-top: 10px;}
	.settingsbtn {display: none;}
	.recipe1-text {font-size: 24px; height: 60px; padding-top: 48px;}
}
@media screen and (max-width: 730px) { 
	.recipe1-text {font-size: 22px; height: 56px; padding-top: 46px;}
}
@media screen and (max-width: 710px) { 
	.recipe1-text {padding-top: 42px;}
}
@media screen and (max-width: 690px) { 
	.recipe1-text {padding-top: 35px;}
}
@media screen and (max-width: 670px) { 
	.recipe1-text {font-size: 20px; height: 52px; padding-top: 32px;}
}
@media screen and (max-width: 645px) { 
	.recipe1-text {padding-top: 27px;}
}
@media screen and (max-width: 620px) { 
	#b1left {width: 100%; text-align: center;}
	.b1leftinner {display: inline-block;}
	.b1leftinner div {width: 350px;}
	.form-control {width: 285px;}
	.cat-selected {background: var(--color-catselected-mobile) !important;}
	.cat-label {display: none; width: 285px;}
	.cat-label2 {display: inline-block; width: 285px;}
	#b1right {display: none;}
}
@media screen and (max-width: 380px) { 
	.b1leftinner div {width: 268px;}
	.form-control {width: 205px;}
	.cat-label {width: 205px;}
	.cat-label2 {width: 205px;}
}
