.explore-active {
	background: linear-gradient(to bottom, var(--color-active-bg) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom;
}
.explore-active:hover {
	background: linear-gradient(to bottom, var(--color-active-bg-hover) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom !important;
}
.mt-explore {display: block !important;}
/* THEMES */
:root {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-category-bg: #111111;
	--color-table-border: #111111;
	--color-table-even: #111111;
	--color-table-odd: #1c1c1c;
	--color-urla: #cfcfcf;
	--color-btn-default: #ffffff;
	--color-inginner-bg: #111111;
	--color-inginner-border: #202020;
	--color-steps: #111111;
	--color-steps-b: #b0b0b0;
}
[data-theme="light"] {
	--color-active-bg: #efefef;
	--color-active-bg-hover: rgb(229, 229, 229);
	--color-active-bottom: #000000;
	--color-block1: #000000;
	--color-category-bg: #efefef;
	--color-table-border: #efefef;
	--color-table-even: #efefef;
	--color-table-odd: #e3e3e3;
	--color-urla: #303030;
	--color-btn-default: #000000;
	--color-inginner-bg: #efefef;
	--color-inginner-border: #e3e3e3;
	--color-steps: #efefef;
	--color-steps-b: #585858;
}
[data-theme="dark"] {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-category-bg: #111111;
	--color-table-border: #111111;
	--color-table-even: #111111;
	--color-table-odd: #1c1c1c;
	--color-urla: #cfcfcf;
	--color-btn-default: #ffffff;
	--color-inginner-bg: #111111;
	--color-inginner-border: #202020;
	--color-steps: #111111;
	--color-steps-b: #b0b0b0;
}
/* SCALING */
:root {
	--font-block1: 16px;
	--font-flashed: 14px;
	--height-flashed: 17px;
	--font-rdetail-h2: 28px;
	--font-information-content: 16px;
	--font-btn-default: 16px;
	--height-btn-default: 38px;
	--size-btn-icon: 20px;
	--size-btn-icon2: 18px;
	--font-ingredients-h3: 22px;
	--font-btn-addtolist: 16px;
	--height-btn-addtolist: 34px;
}
[data-scaling="normal"] {
	--font-block1: 16px;
	--font-flashed: 14px;
	--height-flashed: 17px;
	--font-rdetail-h2: 28px;
	--font-information-content: 16px;
	--font-btn-default: 16px;
	--height-btn-default: 38px;
	--size-btn-icon: 20px;
	--size-btn-icon2: 18px;
	--font-ingredients-h3: 22px;
	--font-btn-addtolist: 16px;
	--height-btn-addtolist: 34px;
}
[data-scaling="large"] {
	--font-block1: 18px;
	--font-flashed: 16px;
	--height-flashed: 19px;
	--font-rdetail-h2: 30px;
	--font-information-content: 18px;
	--font-btn-default: 18px;
	--height-btn-default: 40px;
	--size-btn-icon: 22px;
	--size-btn-icon2: 20px;
	--font-ingredients-h3: 24px;
	--font-btn-addtolist: 18px;
	--height-btn-addtolist: 36px;
}
/* ACCENT COLOR APPLICATION */
.search-btn {background-color: var(--color);}
.search-btn:hover {background: var(--color-lighter);} 
.search-btn:active, .search-btn.active {background: var(--color-darker);}
.seemore {background-color: var(--color);}
.btn-next {background-color: var(--color);}
.btn-next:hover {background: var(--color-lighter);}
.btn-next:active, .btn-next.active {background: var(--color-darker);}
.btn-prev {background-color: var(--color);}
.btn-prev:hover {background: var(--color-lighter);}
.btn-prev:active, .btn-prev.active {background: var(--color-darker);}
.btn-default {background-color: var(--color);}
.btn-default:hover {background: var(--color-lighter);}
.btn-default:active, .btn-default.active {background: var(--color-darker);}
/* BLOCK 1 */
#block1 {
	height: 100px;
	width: 100%;
	color: var(--color-block1);
	font-size: var(--font-block1);
}
.block1inner {
	height: 100%;
	margin: 0 auto;
	padding-top: 20px;
	width: 1000px;
}
/* FLASHED MESSAGES */
#flashed-err {
	background: var(--color-flashed-err);
	font-size: var(--font-flashed);
	min-height: var(--height-flashed);
	margin-bottom: 16px;
	margin-top: 0px;
	padding: 6px;
}
#flashed-norm {
	background: var(--color-flashed-norm);
	font-size: var(--font-flashed);
	min-height: var(--height-flashed);
	margin-bottom: 16px;
	margin-top: 0px;
	padding: 6px;
}
#r-detail {
	float: left;
	padding-right: 20px;
	width: calc(65% - 20px);
}
#r-detail h2 {
	font-size: var(--font-rdetail-h2);
	margin-bottom: 12px;
}
.category {
	background: var(--color-category-bg); 
	border-radius: 15px; 
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
}
.mobile-image-inner {margin-top: 20px; text-align: center; width: 100%;}
.mobile-image {
	aspect-ratio: 4 / 3;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px;
	display: none;
	width: 70%;
}
.timeouter {padding-right: 20px;}
table { 
	border-collapse: collapse; 
	table-layout: fixed;
	margin-bottom: 16px;
	width: 100%;
}
.t-col-4 {display: table-cell;}
.t-col-2 {display: none;}
th, td {border: 1px solid var(--color-table-border); padding: 3px;}
th {font-family: Inter-Medium; text-align: left;}
tr:nth-child(even) {
	background-color: var(--color-table-even);
}
tr:nth-child(odd) {
	background-color: var(--color-table-odd);
}
.urla:hover {color: var(--color-urla); text-decoration: none;}
.urla:active {color: var(--color-urla); text-decoration: none;}
.btncontainer {margin-top: 12px;}
.btn-default {
	border: none;
	color: var(--color-btn-default);
	cursor: pointer;
	font-size: var(--font-btn-default);
	height: 38px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 9px;
	padding-left: 4px;
	padding-right: 4px;
	transition: background-color 0.08s linear, border 0.08s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn-default:active, .btn-default.active, .btn-default:hover, .btn-default:focus {outline: none;}
.btn-default2 {
	background-color: var(--color-flashed-err);
	border: none;
	color: var(--color-btn-default);
	cursor: pointer;
	font-size: var(--font-btn-default);
	height: 38px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 9px;
	padding-left: 4px;
	padding-right: 4px;
	transition: background-color 0.08s linear, border 0.08s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn-default2:hover {background: var(--color-flashed-err-lighter);}
.btn-default2:active, .btn-default2.active {background: var(--color-flashed-err-darker);}
.btn-default2:active, .btn-default2.active, .btn-default2:hover, .btn-default2:focus {outline: none;}
.btn-text {float: left; padding-left: 7px; padding-right: 8px;}
.btn-icon {
	display: block; 
	float: left; 
	height: var(--size-btn-icon); 
	padding-left: 5px; 
	width: var(--size-btn-icon;
	}
.btn-icon img {height: 100%; width: 100%;}
.btn-icon2 {
	display: block; 
	float: left; 
	height: var(--size-btn-icon2); 
	padding-left: 5px; 
	width: var(--size-btn-icon2);
	}
.btn-icon2 img {height: 100%; width: 100%;}
.btn-icon3 {
	display: block; 
	float: left; 
	height: var(--size-btn-icon2); 
	padding-left: 8px; 
	width: var(--size-btn-icon2);
	}
.btn-icon3 img {height: 100%; width: 100%;}
#r-image {
	aspect-ratio: 4 / 3;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px;
	float: left;
	width: 35%;
}
#ingredients {
	float: left;
	padding-right: 20px;
	width: calc(50% - 20px);
}
#ingredients h3 {
	font-size: var(--font-ingredients-h3);
	margin-bottom: 16px;
	margin-top: 34px;
}
.inginner {margin-bottom: 10px;}
.inginner div {
	background: var(--color-inginner-bg);
	border-bottom: solid 1px var(--color-inginner-border);
	text-align: left;
	width: 100%;
}
.inginner div:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.inginner div:last-child {
	border-bottom: none !important;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.ing {
	padding: 10px; 
	margin: 0;
	width: calc(100% - 20px);
}
#instructions {
	float: left;
	width: 50%;
}
#instructions h3 {
	font-size: var(--font-ingredients-h3);
	margin-bottom: 16px;
	margin-top: 34px;
}
.steps {
	background: var(--color-steps);
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: left;
	width: calc(100% - 20px);
}
.steps b {color: var(--color-steps-b);}
.steps p {margin-bottom: 0; margin-top: 6px;}

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
	#flashed-err {margin-left: 10px; margin-right: 10px;}
	#flashed-norm {margin-left: 10px; margin-right: 10px;}
	.block1inner {width: 100%;}
	#r-detail {padding-left: 10px; width: calc(65% - 30px);}
	#r-image {width: calc(35% - 10px);}
	#ingredients {padding-left: 10px; width: calc(50% - 30px);}
	#instructions {padding-right: 10px; width: calc(50% - 10px);}
	.recipe-error {padding-left: 10px; padding-right: 10px;}
}
@media screen and (max-width: 830px) {
	.t-col-4 {display: none;}
	.t-col-2 {display: table-row;}
}
@media screen and (max-width: 700px) { 
	.t-col-4 {display: table-cell;}
	.t-col-2 {display: none;}
	#r-detail {float: none; padding-right: 10px; width: calc(100% - 20px);}
	#r-detail h2 {font-size: 24px;}
	.mobile-image {display: inline-block;}
	#r-image {display: none;}
}
@media screen and (max-width: 600px) { 
	.timeouter {padding: 0;}
	.timeouter::after {content: "\A"; white-space: pre;}
	.mobile-image {width: 85%;}
	#ingredients {float: none; padding-right: 10px; width: calc(100% - 20px);}
	#instructions {
		float: none; 
		padding-bottom: 14px; 
		padding-left: 10px; 
		width: calc(100% - 20px);
	}
}
@media screen and (max-width: 500px) { 
	.t-col-4 {display: none;}
	.t-col-2 {display: table-row;}
	.mobile-image {width: 100%;}
}