.search-btn {background-color: #2980b9;}
.search-btn:hover {background: #2d87c4;} 
.search-btn:active, .search-btn.active {background: #2c81ba;}
.seemore {background-color: #2980b9;}
.btn-next {background-color: #2980b9;}
.btn-next:hover {background: #2d87c4;}
.btn-next:active, .btn-next.active {background: #2c81ba;}
.btn-prev {background-color: #2980b9;}
.btn-prev:hover {background: #2d87c4;}
.btn-prev:active, .btn-prev.active {background: #2c81ba;}
.btn-default {background-color: #2980b9;}
.btn-default:hover {background: #2d87c4;}
.btn-default:active, .btn-default.active {background: #2c81ba;}
