.search-btn {background-color: #7b00bb;}
.search-btn:hover {background: #7e00c2;} 
.search-btn:active, .search-btn.active {background: #7800b8;}
.seemore {background-color: #7b00bb;}
.btn-next {background-color: #7b00bb;}
.btn-next:hover {background: #7e00c2;}
.btn-next:active, .btn-next.active {background: #7800b8;}
.btn-prev {background-color: #7b00bb;}
.btn-prev:hover {background: #7e00c2;}
.btn-prev:active, .btn-prev.active {background: #7800b8;}
.btn-default {background-color: #7b00bb;}
.btn-default:hover {background: #7e00c2;}
.btn-default:active, .btn-default.active {background: #7800b8;}
