.explore-active {
	background: linear-gradient(to bottom, var(--color-active-bg) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom;
}
.explore-active:hover {
	background: linear-gradient(to bottom, var(--color-active-bg-hover) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom !important;
}
.mt-explore {display: block !important;}
/* THEMES */
:root {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-showing-msg: #1a1a1a;
	--color-exprecipe: #111111;
	--color-exprecipeinner-a: #ebebeb;
	--color-exprecipeinner-span: #aeaeae;
	--color-exprecipeinner-span-a: #a7a7a7;
	--color-btn-paginate: #ffffff;
}
[data-theme="light"] {
	--color-active-bg: #efefef;
	--color-active-bg-hover: rgb(229, 229, 229);
	--color-active-bottom: #000000;
	--color-block1: #000000;
	--color-showing-msg: #e5e5e5;
	--color-exprecipe: #efefef;
	--color-exprecipeinner-a: #141414;
	--color-exprecipeinner-span: #515151;
	--color-exprecipeinner-span-a: #585858;
	--color-btn-paginate: #000000;
}
[data-theme="dark"] {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-showing-msg: #1a1a1a;
	--color-exprecipe: #111111;
	--color-exprecipeinner-a: #ebebeb;
	--color-exprecipeinner-span: #aeaeae;
	--color-exprecipeinner-span-a: #a7a7a7;
	--color-btn-paginate: #ffffff;
}
/* ACCENT COLOR APPLICATION */
.search-btn {background-color: var(--color);}
.search-btn:hover {background: var(--color-lighter);} 
.search-btn:active, .search-btn.active {background: var(--color-darker);}
.seemore {background-color: var(--color);}
.btn-next {background-color: var(--color);}
.btn-next:hover {background: var(--color-lighter);}
.btn-next:active, .btn-next.active {background: var(--color-darker);}
.btn-prev {background-color: var(--color);}
.btn-prev:hover {background: var(--color-lighter);}
.btn-prev:active, .btn-prev.active {background: var(--color-darker);}
.btn-default {background-color: var(--color);}
.btn-default:hover {background: var(--color-lighter);}
.btn-default:active, .btn-default.active {background: var(--color-darker);}
/* BLOCK 1 */
#block1 {
	height: 100px;
	width: 100%;
	color: var(--color-block1);
	font-size: 16px;
}
#block1 h2 {padding-top: 12px; padding-bottom: 16px;}
.block1inner {
	height: 100%;
	margin: 0 auto;
	width: 1000px;
}
#block1 h2 {padding: 12px 5px 10px 5px;}
.errorh2 {padding-left: 0px !important; padding-bottom: 0px !important;}
/* MESSAGES */
#flashed-err {
	background: var(--color-flashed-err); 
	font-size: 14px;
	min-height: 17px;
	margin-bottom: 12px;
	margin-top: 0px;
	padding: 6px;
}
#flashed-norm {
	background: var(--color-flashed-norm); 
	font-size: 14px;
	min-height: 17px;
	margin-bottom: 12px;
	margin-top: 0px;
	padding: 6px;
}
#showing-msg {
	background: var(--color-showing-msg);
	font-size: 14px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	min-height: 17px;
	padding: 6px;
}
/* RECIPE LIST */
.explorecont {width: 100%;}
.explorecont:after {clear: both; content: ""; display: table;}

.exprecipe {
	align-items: center;
	background-color: var(--color-exprecipe);
	border-radius: 15px;
	display: flex;
	float: left;
	height: 70px;
	justify-content: center;
	padding-top: 0;
	margin: 0px 5px 10px 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: calc(33.33% - 30px);
}
.exprecinner {width: 100%;}
.exprecinner div {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 18px;
	margin: 0;
	padding-top: 7px;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 40px;
}
.exprecinner div a:hover {color: var(--color-exprecipeinner-a); text-decoration: none;}
.exprecinner div a:active {color: var(--color-exprecipeinner-a); text-decoration: none;}
.exprecinner span {color: var(--color-exprecipeinner-span); font-size: 14px; margin: 0; padding: 0;}
.exprecinner span a:hover {color: var(--color-exprecipeinner-span-a); text-decoration: none;}
.exprecinner span a:active {color: var(--color-exprecipeinner-span-a); text-decoration: none;}

/* PAGINATION BUTTONS */
.prevnext {height: 64px; text-align: center; width: 100%;}
.btn-next {
	border: none;
	border-radius: 7px;
	color: var(--color-btn-paginate);
	cursor: pointer;
	font-size: 16px;
	height: 34px;
	margin-left: 6px;
	margin-top: 10px;
	padding: 0;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 76px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn-next:active, .btn-next.active, .btn-next:hover, .btn-next:focus {outline: none;}
.btn-next-text {float: left; padding-left: 8px;}
.btn-next-icon {
	display: block; 
	float: right; 
	height: 16px; 
	padding-right: 8px; 
	padding-top: 2px;
	width: 10px;
}
.btn-next-icon img {height: 100%; width: 100%;}
.btn-prev {
	border: none;
	border-radius: 7px;
	color: var(--color-btn-paginate);
	cursor: pointer;
	font-size: 16px;
	height: 34px;
	margin-right: 6px;
	margin-top: 10px;
	padding: 0;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 107px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn-prev:active, .btn-prev.active, .btn-prev:hover, .btn-prev:focus {outline: none;}
.btn-prev-text {float: right; padding-right: 8px;}
.btn-prev-icon {
	display: block; 
	float: left; 
	height: 16px; 
	padding-left: 8px; 
	padding-top: 2px;
	width: 10px;
}
.btn-prev-icon img {height: 100%; width: 100%;}

/* RESPONSIVE */
@media screen and (max-width: 1000px) { 
	.block1inner {width: 100%;}
	#block1 p {padding-left: 10px; padding-right: 10px;}
	#block1 h2 {padding-left: 10px; padding-right: 10px;}
	#showing-msg {margin-left: 10px; margin-right: 10px;}
	.explorecont {margin: 0 auto; width: calc(100% - 10px);}
}
@media screen and (max-width: 770px) { 
	.exprecipe {width: calc(50% - 30px);}
}
@media screen and (max-width: 530px) { 
	.exprecipe {width: calc(100% - 30px);}
}
