/* MASTER.CSS - To be included with all templates  */

/* ESSENTIALS */

html, body { height: 100%; margin: 0; padding: 0; }
body { 
    background-color: #2b2b2b;  
    -webkit-font-smoothing: antialiased; 
    height: 100%;
    width: 100%;
}
ul { list-style-type: none; float:right; }
body, ul, li { margin: 0; padding: 0; }
h1, h2, h3, h4 { margin: 0; padding: 0; }

a:link { color: inherit; text-decoration: none; }
a:visited { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

input[type="submit"] {font-weight: normal; -webkit-appearance: none;}

::selection { background: #34a0d8; color: #ffffff; }
::-moz-selection { background: #34a0d8; color: #ffffff; }

div.column1 { background: inherit; display: inline-block; font-size: 1rem; width:100%; }
div.column2 { background: inherit; display: inline-block; font-size: 1rem; width:50%; }
div.column3 { background: inherit; display: inline-block; font-size: 1rem; width:33.33%; }
div.column4 { background: inherit; display: inline-block; font-size: 1rem; width:25%; }
div.column5 { background: inherit; display: inline-block; font-size: 1rem; width:20%; }
div.column6 { background: inherit; display: inline-block; font-size: 1rem; width:16.6%; }
div.column7 { background: inherit; display: inline-block; font-size: 1rem; width:14.28%; }

.fs12 {font-size: 12px;} .fs14 {font-size: 14px;} .fs16 {font-size: 16px;} 
.fs18 {font-size: 18px;} .fs20 {font-size: 20px;} .fs22 {font-size: 22px;}
.fs24 {font-size: 24px;} .fs26 {font-size: 26px;} .fs28 {font-size: 28px;} 
.fs30 {font-size: 30px;} .fs32 {font-size: 32px;} .fs34 {font-size: 34px;}
.fs36 {font-size: 36px;} .fs38 {font-size: 38px;} .fs40 {font-size: 40px;} 
.fs42 {font-size: 42px;} .fs44 {font-size: 44px;} .fs46 {font-size: 46px;}
.fs48 {font-size: 48px;} .fs50 {font-size: 50px;} .fs52 {font-size: 52px;}
.fs70 {font-size: 70px;} .fs80 {font-size: 80px;} .fs90 {font-size: 90px;}

.bold {font-weight: bold;} .lighter {font-weight: lighter;} .italic {font-style: italic;}
.lowercase {text-transform: lowercase;} .uppercase {text-transform: uppercase;}
.underline {text-decoration: underline;}

.padbottom10 {padding-bottom: 10px;} .padbottom20 {padding-bottom: 20px;}
.padbottom30 {padding-bottom: 30px;} .padbottom40 {padding-bottom: 40px;}
.padbottom50 {padding-bottom: 50px;} .padbottom60 {padding-bottom: 60px;}
.padleft5 {padding-left: 5px;} .padleft10 {padding-left: 10px;} 
.padleft15 {padding-left: 15px;} .padleft20 {padding-left: 20px;} 
.padleft25 {padding-left: 25px;} .padleft25 {padding-left: 30px;}
.padright5 {padding-right: 5px;} .padright10 {padding-right: 10px;} 
.padright15 {padding-right: 15px;} .padright20 {padding-right: 20px;} 
.padright25 {padding-right: 25px;} .padright30 {padding-right: 30px;}
.padtop6 {padding-top: 6px;} .padtop10 {padding-top: 10px;}
.padtop14 {padding-top: 14px;} .padtop20 {padding-top: 20px;}
.padtop30 {padding-top: 30px;} .padtop40 {padding-top: 40px;}
.padtop50 {padding-top: 50px;} .padtop60 {padding-top: 60px;}

/* CUSTOM FONTS */

@font-face {
    font-family: Inter-Regular;
    src: url('fonts/Inter-Regular.otf'); /* IE9-IE11 */
    src: url('fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Inter-Regular.woff') format('woff'), /* Most Browsers */
         url('fonts/Inter-Regular.ttf')  format('truetype'); /* Most Except IE */
}
@font-face {
    font-family: Inter-Medium;
    src: url('fonts/Inter-Medium.otf'); /* IE9-IE11 */
    src: url('fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Inter-Medium.woff') format('woff'), /* Most Browsers */
         url('fonts/Inter-Medium.ttf')  format('truetype'); /* Most Except IE */
}
@font-face {
    font-family: Inter-SemiBold;
    src: url('fonts/Inter-SemiBold.otf'); /* IE9-IE11 */
    src: url('fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Inter-SemiBold.woff') format('woff'), /* Most Browsers */
         url('fonts/Inter-SemiBold.ttf')  format('truetype'); /* Most Except IE */
}

button:not(.logregselector) {font-family: Inter-Regular;}
input {font-family: Inter-Regular;}
select {font-family: Inter-Regular;}

#navbar {font-family: Inter-Regular;}
.navlogo h1 {font-family: Inter-Medium;}
.mobile-title h1 {font-family: Inter-Regular;}
.mt-tamari {font-family: Inter-Medium !important;}

#block1 {font-family: Inter-Regular;} /* All pages */
#block1 h1 {font-family: Inter-Medium; font-weight: normal;}
#block1 h2 {font-family: Inter-Medium; font-weight: normal;}
#block1 h3 {font-family: Inter-Medium; font-weight: normal;}
#block1 h4 {font-family: Inter-Medium; font-weight: normal;}
.recipe1-text {font-family: Inter-Medium;} /* All Recipes, Favorites, Categories, Mobile Category */
.r2bottom div {font-family: Inter-Medium;} /* All Recipes, Favorites, Categories, Mobile Category */
.exprecinner div {font-family: Inter-Medium;} /* Explore and Explore All */
.seemore {font-family: Inter-Medium;} /* Explore */
.logregselector {font-family: Inter-Medium;} /* Login and Register */
#addtolist, #scheduler {font-family: Inter-Regular;} /* Recipe Detail */
#addtolist h2, #scheduler h2 {font-family: Inter-Medium; font-weight: normal;} /* Recipe Detail */
.timebold {font-family: Inter-Medium;} /* Recipe Detail */

/* NAVBAR MENU */
#navbar {
	background-color: #111111;
	min-height: 64px;
	width: 100%;
	color: #ffffff;
	font-size: 18px;
}
.navbarinner {
	height: 100%;
	margin: 0 auto;
	width: 1000px;
}
#navbar ul {list-style: none; line-height: 64px;}
#navbar li {display: inline-block;}
#navbar li a:hover {color: #f1f1f1; text-decoration: none;}
.navlogo {
	background-image: url('/static/logo-dark.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 28px; 
	width: 108px; 
	float: left; 
	margin-right: 22px; 
	margin-top: 17px;
}
.navlogo h1 {font-size: 28px;}
.mobile-title {display: none; height: 44px;}
.mobile-title h1 {
	display: none; 
	font-size: 26px; 
	line-height: 26px; 
	padding-left: 44px; 
	padding-top: 9px;
}
.mt-tamari {display: block !important;}
.navleft {float: left;}
.navleft li:hover {background: rgb(26, 26, 26);}
.navleft span {padding-left: 12px; padding-right: 12px;}
.linkcollapse {display: inline; padding: 0 !important;}
.navright {
	float: right;
	height: 64px;
	vertical-align: middle;
	width: 64px;
}
.navright:hover {background: rgb(26, 26, 26);}
.navrighticon {
	border-radius: 50%;
	background-size: 38px 38px;
	height: 38px;
	margin-left: 13px;
	margin-top: 13px;
	margin-bottom: 11px;
	width: 38px;
}
.navnoauth {float: right;}
.navnoauth li:hover {background: rgb(26, 26, 26);}
.navnoauth span {padding-left: 12px; padding-right: 12px;}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(26, 26, 26);
	font-size: 16px;
	width: 140px;
	margin-left: -76px;
    margin-top: 2px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: #ffffff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: rgb(32, 32, 32);; text-decoration: none;}
.showdrop {display: block;}
/* MOBILE DROPDOWN MENU */
.mobile-dropdown {display: none;}
.mobile-dropdown input[type=checkbox] {display: none;}
.mobile-dropdown div {
	display: flex;
	width: 100%;
	padding: 0;
}
.mobilebg {background-color: rgb(26, 26, 26);}
.mobile-dropdown div li {
	display: block !important; 
	padding-left: 13px;
}
.mobile-dropdown section {
	max-height: 0px;
	overflow: hidden;
	transition: all 1s cubic-bezier(.325, 1, .22, 1);
	width: 100%;
}
.mobilebg-top {margin-bottom: 5px !important;}
.mobilebg-botton {margin-top: 5px !important;}
.mobile-dropdown div ul {
	margin: 0;
	list-style: none;
	line-height: 36px !important;
	transition: all 1s cubic-bezier(.325, 1, .22, 1);
	width: 100%;
}
.mobile-dropdown input[type=checkbox]:checked ~ div section {
	height: auto;
	max-height: 280px;
	transition: all 1s cubic-bezier(.5, 1, .22, 1);
}
.mobile-dropdown hr {
	background-color: #ffffff;
	color: #ffffff;
	margin-left: 13px;
	margin-right: 13px;
	margin-top: 0px;
	margin-botton: 0px;
	height: 1px;
}
.drop-profile {
	background-size: 57px 57px;
	border-radius: 50%;
	float: right;
	width: 57px !important;
	height: 57px;
	margin-top: -64px;
	margin-bottom: 12px;
	margin-right: 13px;
}
/* MOBILE HAMBURGER */
.mobile-dropdown .hamburger {
	display: none;
	position: absolute;
	top: 14px;
	left: 13px;
	height: 27px;
	width: 27px;
	cursor: pointer;
	transition: all 1s cubic-bezier(.19, 1, .22, 1);
}
.mobile-dropdown .hamburger .line {
	position: absolute;
	display: block;
	background: #d6d6d6;
	width: 18px;
	height: .15rem;
	border-radius: .2rem;
	left: 0;
	transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
}
.mobile-dropdown .hamburger .line-1 {top: 0;}
.mobile-dropdown .hamburger .line-2 {
	top: 7px;
	transform: translateX(0px);
}
.mobile-dropdown .hamburger .line-3 {top: 14px;} 
.mobile-dropdown input[type=checkbox]:checked ~ label .line-1 {
	top: 0px;
	width: 22px;
	transform: translateX(-11px) rotate(-45deg) translateY(12px);
}
.mobile-dropdown input[type=checkbox]:checked ~ label .line-2 {
	opacity: 0;
}
.mobile-dropdown input[type=checkbox]:checked ~ label .line-3 {
	top: 14px;
	width: 22px;
	transform: translateX(-8px) rotate(45deg) translateY(-8px);
}

/* NAVBAR RESPONSIVE */
@media screen and (max-width: 1000px) { 
	.navbarinner {width: 100%;}
	.navlogo {margin-left: 10px;}
}
@media screen and (max-width: 810px) {
	.linkcollapse {display: none;}
}
@media screen and (max-width: 700px) { 
	#navbar {min-height: 44px;}
	.navlogo {display: none; height: 44px;}
	.navlogo h1 {font-size: 26px; line-height: 26px; padding-left: 40px; padding-top: 9px;}
	.mobile-title {display: block;}
	.navbarinner { width: 100%;}
	.navleft {display: none;}
	.navright {display: none;}
	.navnoauth {display: none;}
	.mobile-dropdown {display: block;}
	.hamburger {display: block !important;}
}
@media screen and (max-width: 400px) {
	.navlogo h1 {padding-top: 10px;}
	.mobile-title h1 {padding-top: 10px;}
}

.container {
	font-size: 12px;
	color: #ffffff;
}
