.mealplanner-active {
	background: linear-gradient(to bottom, var(--color-active-bg) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom;
}
.mealplanner-active:hover {
	background: linear-gradient(to bottom, var(--color-active-bg-hover) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom !important;
} 
.mt-mealplanner {display: block !important;}
/* THEMES */
:root {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-recbtn-bg: #111111;
	--color-recbtn-font: #ffffff;
	--color-daylabel: #ffffff;
	--color-daylabel-hover: #f1f1f1;
	--color-mealmessage: #111111;
	--color-planinner-bg: #111111;
	--color-planinner-border: #202020;
	--color-planlabel: #ffffff;
	--color-planlabel-a: #f1f1f1;
	--color-plancategory: #b0b0b0;
	--color-plancategory-a: #f1f1f1;
	--color-btn-paginate: #ffffff;
}
[data-theme="light"] {
	--color-active-bg: #efefef;
	--color-active-bg-hover: rgb(229, 229, 229);
	--color-active-bottom: #000000;
	--color-block1: #000000;
	--color-recbtn-bg: #efefef;
	--color-recbtn-font: #000000;
	--color-daylabel: #000000;
	--color-daylabel-hover: #0e0e0e;
	--color-mealmessage: #efefef;
	--color-planinner-bg: #efefef;
	--color-planinner-border: #e3e3e3;
	--color-planlabel: #000000;
	--color-planlabel-a: #0e0e0e;
	--color-plancategory: #4f4f4f;
	--color-plancategory-a: #0e0e0e;
	--color-btn-paginate: #000000;
}
[data-theme="dark"] {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-recbtn-bg: #111111;
	--color-recbtn-font: #ffffff;
	--color-daylabel: #ffffff;
	--color-daylabel-hover: #f1f1f1;
	--color-mealmessage: #111111;
	--color-planinner-bg: #111111;
	--color-planinner-border: #202020;
	--color-planlabel: #ffffff;
	--color-planlabel-a: #f1f1f1;
	--color-plancategory: #b0b0b0;
	--color-plancategory-a: #f1f1f1;
	--color-btn-paginate: #ffffff;
}
/* SCALING */
:root {
	--font-block1: 16px;
	--font-recbtn: 16px;
	--height-recipenav: 57px;
	--height-recbtn: 30px;
	--margin-recbtn: 14px;
	--font-flashed: 14px;
	--height-flashed: 17px;
	--font-day-label: 18px;
	--line-height-day-label: 43px;
	--line-height-day-label-2: 50px;
	--margin-top-statsbox-number: 7px;
	--font-mealmessage: 14px;
	--height-mealmessage: 17px;
	--font-plan-label: 18px;
	--font-plan-category: 12px;
	--size-btn4-icon: 20px;
	--font-pagination: 16px;
	--height-pagination: 34px;
	--width-next: 76px;
	--width-prev: 107px;
}
[data-scaling="normal"] {
	--font-block1: 16px;
	--font-recbtn: 16px;
	--height-recipenav: 57px;
	--height-recbtn: 30px;
	--margin-recbtn: 14px;
	--font-flashed: 14px;
	--height-flashed: 17px;
	--font-day-label: 18px;
	--line-height-day-label: 43px;
	--line-height-day-label-2: 50px;
	--margin-top-statsbox-number: 7px;
	--font-mealmessage: 14px;
	--height-mealmessage: 17px;
	--font-plan-label: 18px;
	--font-plan-category: 12px;
	--size-btn4-icon: 20px;
	--font-pagination: 16px;
	--height-pagination: 34px;
	--width-next: 76px;
	--width-prev: 107px;
}
[data-scaling="large"] {
	--font-block1: 18px;
	--font-recbtn: 18px;
	--height-recipenav: 59px;
	--height-recbtn: 32px;
	--margin-recbtn: 13px;
	--font-flashed: 16px;
	--height-flashed: 19px;
	--font-day-label: 20px;
	--line-height-day-label: 45px;
	--line-height-day-label-2: 50px;
	--margin-top-statsbox-number: 7px;
	--font-mealmessage: 16px;
	--height-mealmessage: 19px;
	--font-plan-label: 20px;
	--font-plan-category: 14px;
	--size-btn4-icon: 22px;
	--font-pagination: 18px;
	--height-pagination: 36px;
	--width-next: 79px;
	--width-prev: 110px;
}
/* ACCENT COLOR APPLICATION */
.recbtn-active {background-color: var(--color) !important;}
.statsbox-number {background-color: var(--color);}
.list-selected {background: var(--color-alt1) !important;}
.additem-btn {background-color: var(--color);}
.additem-btn:hover {background: var(--color-lighter);}
.additem-btn:active, .additem-btn.active {background: var(--color-darker);}
.btn-next {background-color: var(--color);}
.btn-next:hover {background: var(--color-lighter);}
.btn-next:active, .btn-next.active {background: var(--color-darker);}
.btn-prev {background-color: var(--color);}
.btn-prev:hover {background: var(--color-lighter);}
.btn-prev:active, .btn-prev.active {background: var(--color-darker);}
@media screen and (max-width: 620px) { 
	.list-selected {background: var(--color) !important;}
}
/* BLOCK 1 */ 
#block1 {
	height: 100px;
	width: 100%;
	color: var(--color-block1);
	font-size: var(--font-block1);
}
.block1inner {
	height: 100%;
	margin: 0 auto;
	width: 1000px;
}

.recipenavleft {
	position: relative;
	overflow: hidden;
	text-align: left;
	margin-top: var(--margin-recbtn);
	margin-bottom: var(--margin-recbtn);
	width: 100%;
}
.recipenavleft-inner {
	white-space: nowrap;
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	height: 100%;
}
.recipenavleft-inner::-webkit-scrollbar {
	display: none;
}
.recbtn {
	display: inline-block;
	background-color: var(--color-recbtn-bg);
	border: none;
	border-radius: 15px;
	color: var(--color-recbtn-font);
	cursor: pointer;
	font-size: var(--font-recbtn);
	height: var(--height-recbtn);
	margin-right: 8px;
	padding: 0px 10px; /* top/bottom, left/right */
	-webkit-font-smoothing: subpixel-antialiased;
	white-space: nowrap; /* Keep button text on a single line */
}
.recbtn:last-child {
	margin-right: 0px;
}
.recbtn:active, .recbtn.active, .recbtn:hover, .recbtn:focus {
	outline: none;
}
.scroll-arrow-recip {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	display: none; /* Show only if scroll is needed */
	height: 100%;
}
.scroll-arrow-recip img {
	margin-top: 6px;
	height: var(--height-recbtn) - 12px;
	width: calc((var(--height-recbtn) - 12px) * (12 / 20)); /* ratio-based width */
}
.scroll-right-recip {
	right: 0;
	background: linear-gradient(
	  to right,
	  transparent 0%,
	  var(--color-body-bg) 25%,
	  var(--color-body-bg) 50%,
	  var(--color-body-bg) 100%
	);
	padding: 10px 0px 10px 8px; /* Top right bottom left */
}
.scroll-left-recip {
	left: 0;
	background: linear-gradient(
	  to left,
	  transparent 0%,
	  var(--color-body-bg) 25%,
	  var(--color-body-bg) 50%,
	  var(--color-body-bg) 100%
	);
	padding: 10px 8px 10px 0px; /* Top right bottom left */
}

/* FLASHED MESSAGES */
#flashed-err {
	background: var(--color-flashed-err);
	font-size: var(--font-flashed);
	min-height: var(--height-flashed);
	margin-bottom: 12px;
	margin-top: 0px;
	padding: 6px;
}
#flashed-norm {
	background: var(--color-flashed-norm);
	font-size: var(--font-flashed);
	min-height: var(--height-flashed);
	margin-bottom: 12px;
	margin-top: 0px;
	padding: 6px;
}

.block1inner h2 {padding-top: 0px; padding-bottom: 4px;}
.block1inner h3 {padding-bottom: 0px; padding-top: 16px;}
.planinner {margin-top: 10px;}
.planinner div {
	background: var(--color-planinner-bg);
	border-bottom: solid 1px var(--color-planinner-border);
	min-height: 50px;
	position: relative;
	text-align: left;
	width: 100%;
}
.planinner div:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.planinner div:last-child {
	border-bottom: none !important;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.label-inner {
	padding-top: 13px;
	padding-bottom: 13px;
	margin: 0px;
}
.plan-label {
	color: var(--color-planlabel);
	display: inline-block;
	font-size: var(--font-plan-label);
	margin: 0;
	padding-left: 10px;
	width: calc(100% - 62px);
}
.plan-label a:hover {color: var(--color-planlabel-a); text-decoration: none;}
.plan-label a:active {color: var(--color-planlabel-a); text-decoration: none;}
.plan-category {
	color: var(--color-plancategory);
	display: inline-block;
	font-size: var(--font-plan-category);
	margin: 0;
	padding-left: 10px;
	padding-top: 6px;
	width: calc(100% - 62px);
}
.plan-category a:hover {color: var(--color-plancategory-a); text-decoration: none;}
.plan-category a:active {color: var(--color-plancategory-a); text-decoration: none;}
.btn4-default {
	background: none;
	border: none;
	cursor: pointer;
	float: none;
	position: absolute;
	right: 0;
	height: 100%;
	margin-right: 6px;
	padding-left: 0px;
	padding-right: 0px;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 38px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn4-default:active, .btn4-default.active, .btn4-default:hover, .btn4-default:focus {outline: none;}
.btn4-icon {
	display: block; 
	height: var(--size-btn4-icon); 
	padding-left: 9px; 
	width: var(--size-btn4-icon);
}
.btn4-icon img {height: 100%; width: 100%;}

/* PAGINATION BUTTONS */
.prevnext {
	height: 46px; 
	margin-top: 14px;
	text-align: center; 
	width: 100%;
}
.btn-next {
	border: none;
	border-radius: 7px;
	color: var(--color-btn-paginate);
	cursor: pointer;
	font-size: var(--font-pagination);
	height: var(--height-pagination);
	margin-left: 6px;
	padding: 0;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: var(--width-next);
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn-next:active, .btn-next.active, .btn-next:hover, .btn-next:focus {outline: none;}
.btn-next-text {float: left; padding-left: 8px;}
.btn-next-icon {
	display: block; 
	float: right; 
	height: 16px; 
	padding-right: 8px; 
	padding-top: 2px;
	width: 10px;
}
.btn-next-icon img {height: 100%; width: 100%;}
.btn-prev {
	border: none;
	border-radius: 7px;
	color: var(--color-btn-paginate);
	cursor: pointer;
	font-size: var(--font-pagination);
	height: var(--height-pagination);
	margin-right: 6px;
	padding: 0;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: var(--width-prev);
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn-prev:active, .btn-prev.active, .btn-prev:hover, .btn-prev:focus {outline: none;}
.btn-prev-text {float: right; padding-right: 8px;}
.btn-prev-icon {
	display: block; 
	float: left; 
	height: 16px; 
	padding-left: 8px; 
	padding-top: 2px;
	width: 10px;
}
.btn-prev-icon img {height: 100%; width: 100%;}

/* RESPONSIVE */
@media screen and (max-width: 1000px) { 
	.block1inner {padding-left: 10px; padding-right: 10px; width: calc(100% - 20px);}
	#block1 p {padding-left: 10px;}
	.plan-label {padding-left: 0px;}
	.plan-category {padding-left: 0px;}
}
@media screen and (max-width: 880px) {
	#b1left {width: 280px;}
	#statsmessage {width: 252px;}
	.statsbox div {width: 268px;}
	#b1right {width: calc(100% - 280px);}
}
@media screen and (max-width: 620px) { 
	#b1left {width: 100%;}
	#statsmessage {width: auto;}
	.statsbox div {width: 100%;}
	#b1right {width: 100%;}
}
