.myrecipes-active {
	background: linear-gradient(to bottom, var(--color-active-bg) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom;
}
.myrecipes-active:hover {
	background: linear-gradient(to bottom, var(--color-active-bg-hover) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom !important;
}
.mt-myrecipes {display: block !important;}
/* THEMES */
:root { 
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-norecipes: #111111;
	--color-recipecount: #111111;
	--color-r1bottom: rgba(20, 20, 20, 0.82);
	--color-recipe2inner: #111111;
	--color-r2bottom-span: #aeaeae;
	--color-r3bottom: rgba(20, 20, 20, 0.82);
	--color-r3bottom-span: #bdbdbd;
	--color-r3span: #111111;
	--color-btn-paginate: #ffffff;
}
[data-theme="light"] {
	--color-active-bg: #efefef;
	--color-active-bg-hover: rgb(229, 229, 229);
	--color-active-bottom: #000000;
	--color-block1: #000000;
	--color-norecipes: #efefef;
	--color-recipecount: #efefef;
	--color-r1bottom: rgba(232, 232, 232, 0.86);
	--color-recipe2inner: #efefef;
	--color-r2bottom-span: #5c5c5c;
	--color-r3bottom: rgba(232, 232, 232, 0.86);
	--color-r3bottom-span: #424242;
	--color-r3span: #efefef;
	--color-btn-paginate: #000000;
}
[data-theme="dark"] {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-norecipes: #111111;
	--color-recipecount: #111111;
	--color-r1bottom: rgba(20, 20, 20, 0.82);
	--color-recipe2inner: #111111;
	--color-r2bottom-span: #aeaeae;
	--color-r3bottom: rgba(20, 20, 20, 0.82);
	--color-r3bottom-span: #bdbdbd;
	--color-r3span: #111111;
	--color-btn-paginate: #ffffff;
}
/* SCALING */
:root {
	--font-block1: 16px;
	--font-flashed: 14px;
	--height-flashed: 17px;
	--font-cat-label: 18px;
	--font-form-control: 18px;
	--font-recipe-count: 14px;
	--height-recipe-count: 17px;
	--font-pagination: 16px;
	--height-pagination: 34px;
	--width-next: 76px;
	--width-prev: 107px;
}
[data-scaling="normal"] {
	--font-block1: 16px;
	--font-flashed: 14px;
	--height-flashed: 17px;
	--font-cat-label: 18px;
	--font-form-control: 18px;
	--font-recipe-count: 14px;
	--height-recipe-count: 17px;
	--font-pagination: 16px;
	--height-pagination: 34px;
	--width-next: 76px;
	--width-prev: 107px;
}
[data-scaling="large"] {
	--font-block1: 18px;
	--font-flashed: 16px;
	--height-flashed: 19px;
	--font-cat-label: 20px;
	--font-form-control: 20px;
	--font-recipe-count: 16px;
	--height-recipe-count: 19px;
	--font-pagination: 18px;
	--height-pagination: 36px;
	--width-next: 79px;
	--width-prev: 110px;
}
/* ACCENT COLOR APPLICATION */
.btn-next {background-color: var(--color);}
.btn-next:hover {background: var(--color-lighter);}
.btn-next:active, .btn-next.active {background: var(--color-darker);}
.btn-prev {background-color: var(--color);}
.btn-prev:hover {background: var(--color-lighter);}
.btn-prev:active, .btn-prev.active {background: var(--color-darker);}
/* BLOCK 1 */
#block1 {
	height: 100px;
	width: 100%;
	color: var(--color-block1);
	font-size: var(--font-block1);
}
#block1 h2 {padding-top: 12px; padding-bottom: 16px;}
.block1inner {
	height: 100%;
	margin: 0 auto;
	width: 1000px;
}
/* FLASHED MESSAGES */
#flashed-err {
	background: var(--color-flashed-err); 
	font-size: var(--font-flashed);
	min-height: var(--height-flashed);
	margin-bottom: 12px;
	margin-top: 0px;
	padding: 6px;
}
#flashed-norm {
	background: var(--color-flashed-norm); 
	font-size: var(--font-flashed);
	min-height: var(--height-flashed);
	margin-bottom: 12px;
	margin-top: 0px;
	padding: 6px;
}
/* IF NO SAVED RECIPES */
#norecipes {
	background: var(--color-norecipes);
	margin-top: 0px;
	padding: 10px;
}
/* RECIPE LIST */
#recipecount {
	background: var(--color-recipecount); 
	font-size: var(--font-recipe-count);
	height: var(--height-recipe-count);
	margin-bottom: 12px;
	margin-top: 12px;
	padding: 6px;
}
.recipe1cont {margin-bottom: 20px;}
.recipe1cont:after {clear: both; content: ""; display: table;}
.recipe1 {
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	padding-top: 0%;
	width: 33.333%;
	aspect-ratio: 4 / 3;
}
.r1bottom {
	background: linear-gradient(to bottom, transparent 0%, var(--color-r1bottom) 100%);
	height: 40%;
	margin-top: 45%;
	width: 100%;
}
.recipe1-text {
	height: 56px;
	overflow: hidden;
	font-size: 22px;
	width: calc(100% - 30px);
	line-height: 1.2;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 34px;
}
.recipe1-text:after {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.recipe1-text div {
	display: inline-block;
	display: -webkit-inline-box;
	max-height: 100%;
	vertical-align: middle;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.recipe2cont {margin: 0 auto; width: calc(100% - 20px);}
.recipe2cont:after {clear: both; content: ""; display: table;}
.recipe2 {
	float: left;
	padding-top: 0;
	width: calc(25% - 20px);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.recipe2inner {
	background-color: var(--color-recipe2inner);
	border-radius: 15px;
}
.r2top {
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px 15px 0px 0px;
	aspect-ratio: 4 / 3;
}
.r2bottom {
	height: 80px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
.r2bottom div {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 18px;
	margin: 0;
	padding-top: 7px;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 40px;
}
.r2bottom span {color: var(--color-r2bottom-span); font-size: 14px;}
.recipe3cont {margin: 0 auto; width: 100%; overflow: hidden;}
.recipe3continner {margin-left: -10px; width: calc(100% + 20px);}
.recipe3continner:after {clear: both; content: ""; display: table;}
.recipe3 {
	aspect-ratio: 4 / 3;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 15px;
	float: left;
	padding-top: 0;
	width: calc(33.33% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}
.r3bottom {
	background: linear-gradient(to bottom, transparent 0%, var(--color-r3bottom) 100%);
	border-bottom-left-radius: 14.5px;
	border-bottom-right-radius: 14.5px;
	height: 80%;
	margin-top: 20%;
	width: 100%;
	position: relative;
}
.r3binner {
	width: 100%;
	width: calc(100% - 20px);
	position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.r3binner div {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 18px;
	margin: 0;
	padding-bottom: 5px;
	padding-top: 24px;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 40px;
}
.r3span {
	background: var(--color-r3span); 
	color: var(--color-r3bottom-span); 
	display: inline-block;
}
.r3spanscheduled {
	background: var(--color); 
	color: var(--color-r3bottom-span); 
	display: inline-block;
}
.r3category {
	border-radius: 10px;
	font-size: 14px; 
	padding: 2px 8px 2px 8px; /* Top right bottom left */
}
.r3time {
	border-radius: 5px;
	font-size: 12px;
	margin-top: 4px;
	padding: 2px;
}
.r3calories {
	border-radius: 5px;
	font-size: 12px;
	margin-top: 4px;
	padding: 2px;
}
.r3created {
	border-radius: 5px;
	font-size: 12px;
	padding: 2px;
	margin-top: 4px;
}
/* PAGINATION BUTTONS */
.prevnext {height: 54px; text-align: center; width: 100%;}
.btn-next {
	border: none;
	border-radius: 7px;
	color: var(--color-btn-paginate);
	cursor: pointer;
	font-size: var(--font-pagination);
	height: var(--height-pagination);
	margin-left: 6px;
	padding: 0;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: var(--width-next);
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn-next:active, .btn-next.active, .btn-next:hover, .btn-next:focus {outline: none;}
.btn-next-text {float: left; padding-left: 8px;}
.btn-next-icon {
	display: block; 
	float: right; 
	height: 16px; 
	padding-right: 8px; 
	padding-top: 2px;
	width: 10px;
}
.btn-next-icon img {height: 100%; width: 100%;}
.btn-prev {
	border: none;
	border-radius: 7px;
	color: var(--color-btn-paginate);
	cursor: pointer;
	font-size: var(--font-pagination);
	height: var(--height-pagination);
	margin-right: 6px;
	padding: 0;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: var(--width-prev);
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn-prev:active, .btn-prev.active, .btn-prev:hover, .btn-prev:focus {outline: none;}
.btn-prev-text {float: right; padding-right: 8px;}
.btn-prev-icon {
	display: block; 
	float: left; 
	height: 16px; 
	padding-left: 8px; 
	padding-top: 2px;
	width: 10px;
}
.btn-prev-icon img {height: 100%; width: 100%;}

/* RESPONSIVE */
@media screen and (max-width: 1000px) { 
	.block1inner {width: 100%;}
	#block1 p {padding-left: 10px; padding-right: 10px;}
	#norecipes {margin-left: 10px; margin-right: 10px; width: calc(100% - 40px);}
	#recipecount {margin-left: 10px; margin-right: 10px;}
	.recipe1 {width: 33.33%;}
	.recipe3continner {margin-left: 0px; width: 100%;}
}
@media screen and (max-width: 960px) { 
	.recipe1-text {padding-top: 27px;}
}
@media screen and (max-width: 910px) { 
	.recipe1-text {font-size: 20px; height: 52px; padding-top: 23px;}
}
@media screen and (max-width: 860px) { 
	.r2bottom {height: 75px;}
	.r2bottom div {font-size: 16px; max-height: 36px;}
	.r2bottom span {font-size: 12px;}
}
@media screen and (max-width: 820px) { 
	.r3binner div {font-size: 16px; max-height: 36px;}
	.r3category {font-size: 12px; }
	.r3time {font-size: 10px;}
	.r3calories {font-size: 10px;}
	.r3created {font-size: 10px;}
}
@media screen and (max-width: 800px) { 
	.recipe1-text {padding-top: 17px;}
}
@media screen and (max-width: 770px) { 
	.recipe2 {width: calc(33.33% - 20px);}
	.r2bottom {height: 80px;}
	.r2bottom div {font-size: 18px; max-height: 40px;}
	.r2bottom span {font-size: 14px;}
}
@media screen and (max-width: 750px) { 
	.recipe1-text {
		padding-left: 12px; 
		padding-right: 12px; 
		padding-top: 13px; 
		width: calc(100% - 24px);
	}
}
@media screen and (max-width: 700px) { 
	.recipe1 {width: 50%;}
	.recipe1-text {
		font-size: 22px; 
		height: 56px; 
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 32px;
		width: calc(100% - 30px);
	}
	.recipe2cont {width: calc(100% - 16px);}
	.recipe2 {
		width: calc(33.33% - 16px); 
		padding-left: 8px; 
		padding-right: 8px; 
		padding-bottom: 16px;
	}
	.recipe3 {width: calc(50% - 20px);}
	.r3binner div {font-size: 18px; max-height: 40px;}
	.r3category {font-size: 14px; }
	.r3time {font-size: 12px;}
	.r3calories {font-size: 12px;}
	.r3created {font-size: 12px;}
}
@media screen and (max-width: 640px) { 
	.recipe1-text {font-size: 20px; height: 52px; padding-top: 29px;}
}
@media screen and (max-width: 620px) { 
	.r2bottom {height: 75px;}
	.r2bottom div {font-size: 16px; max-height: 36px;}
	.r2bottom span {font-size: 12px;}
}
@media screen and (max-width: 600px) { 
	.recipe1-text {padding-top: 23px;}
	.r3binner div {font-size: 16px; max-height: 36px;}
	.r3category {font-size: 12px; }
	.r3time {font-size: 10px;}
	.r3calories {font-size: 10px;}
	.r3created {font-size: 10px;}
}
@media screen and (max-width: 565px) { 
	.recipe1-text {
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 18px;
		width: calc(100% - 24px);
	}
}
@media screen and (max-width: 530px) { 
	.recipe1-text {font-size: 18px; height: 46px;}
	.recipe2 {width: calc(50% - 16px);}
	.r2bottom {height: 80px;}
	.r2bottom div {font-size: 18px; max-height: 40px;}
	.r2bottom span {font-size: 14px;}
}
@media screen and (max-width: 500px) { 
	.recipe1-text {padding-top: 14px;}
}
@media screen and (max-width: 470px) { 
	.recipe1 {width: 100%;}
	.recipe1-text {
		font-size: 24px; 
		height: 60px; 
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 58px;
		width: calc(100% - 30px);
	}
	.r2bottom {height: 75px;}
	.r2bottom div {font-size: 16px; max-height: 36px;}
	.r2bottom span {font-size: 12px;}
	.recipe3 {width: calc(100% - 20px);}
	.r3binner div {font-size: 18px; max-height: 40px;}
	.r3category {font-size: 14px; }
	.r3time {font-size: 12px;}
	.r3calories {font-size: 12px;}
	.r3created {font-size: 12px;}
}
@media screen and (max-width: 440px) { 
	.recipe1-text {padding-top: 50px;}
}
@media screen and (max-width: 410px) { 
	.recipe1-text {font-size: 22px; height: 56px; }
}
@media screen and (max-width: 400px) { 
	.recipe1-text {padding-top: 46px;}
	.recipe2cont {width: calc(100% - 10px);}
	.recipe2 {
		width: calc(50% - 10px); 
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 10px;
	}
}
@media screen and (max-width: 385px) { 
	.recipe1-text {padding-top: 42px;}
	.r3binner div {font-size: 16px; max-height: 36px;}
	.r3category {font-size: 12px; }
	.r3time {font-size: 10px;}
	.r3calories {font-size: 10px;}
	.r3created {font-size: 10px;}
}
@media screen and (max-width: 370px) { 
	.recipe1-text {padding-top: 38px;}
}
@media screen and (max-width: 350px) { 
	.recipe1-text {font-size: 18px; height: 46px;}
}
@media screen and (max-width: 330px) { 
	.recipe1-text {padding-top: 32px;}
	.r2bottom {height: 69px;}
	.r2bottom div {font-size: 14px; max-height: 30px;}
	.r2bottom span {font-size: 10px;}
}
@media screen and (max-width: 310px) { 
	.recipe1-text {padding-top: 26px;}
}
@media screen and (max-width: 290px) { 
	.recipe1-text {padding-top: 22px;}
}
@media screen and (max-width: 270px) { 
	.recipe1-text {padding-top: 17px;}
}
@media screen and (max-width: 250px) { 
	.recipe1-text {padding-top: 12px;}
}