.shoplist-active {
	background: linear-gradient(to bottom, var(--color-active-bg) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom;
}
.shoplist-active:hover {
	background: linear-gradient(to bottom, var(--color-active-bg-hover) calc(100% - 2px), var(--color-active-bottom) 5px) no-repeat left bottom !important;
} 
.mt-lists {display: block !important;}
/* THEMES */
:root {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-listhowto: #111111;
	--color-ingredinner-bg: #111111;
	--color-ingredinner-border: #202020;
	--color-ingred-label: #ffffff;
	--color-ingred-label-a: #f1f1f1;
	--color-ingred-recipe: #b0b0b0;
	--color-ingred-recipe-a: #f1f1f1;
	--color-additem-input-bg: #1c1c1c;
	--color-additem-input-font: #d1d1d1;
	--color-additem-input-placeholder: #545454;
	--color-additem-btn: #ffffff;
}
[data-theme="light"] {
	--color-active-bg: #efefef;
	--color-active-bg-hover: rgb(229, 229, 229);
	--color-active-bottom: #000000;
	--color-block1: #000000;
	--color-listhowto: #efefef;
	--color-ingredinner-bg: #efefef;
	--color-ingredinner-border: #e3e3e3;
	--color-ingred-label: #000000;
	--color-ingred-label-a: #0e0e0e;
	--color-ingred-recipe: #4f4f4f;
	--color-ingred-recipe-a: #0e0e0e;
	--color-additem-input-bg: #e3e3e3;
	--color-additem-input-font: #2e2e2e;
	--color-additem-input-placeholder: #a4a4a4;
	--color-additem-btn: #000000;
}
[data-theme="dark"] {
	--color-active-bg: #111111;
	--color-active-bg-hover: rgb(26, 26, 26);
	--color-active-bottom: #ffffff;
	--color-block1: #ffffff;
	--color-listhowto: #111111;
	--color-ingredinner-bg: #111111;
	--color-ingredinner-border: #202020;
	--color-ingred-label: #ffffff;
	--color-ingred-label-a: #f1f1f1;
	--color-ingred-recipe: #b0b0b0;
	--color-ingred-recipe-a: #f1f1f1;
	--color-additem-input-bg: #1c1c1c;
	--color-additem-input-font: #d1d1d1;
	--color-additem-input-placeholder: #545454;
	--color-additem-btn: #ffffff;
}
/* SCALING */
:root {
	--font-block1: 16px;
	--font-flashed: 14px;
	--height-flashed: 17px;
	--font-list-label: 18px;
	--font-form-control: 18px;
	--font-listhowto: 14px;
	--height-listhowto: 17px;
	--font-ingred-label: 18px;
	--font-ingred-recipe: 12px;
	--size-btn4-icon: 20px;
	--font-additem-input: 18px;
	--height-additem-input: 44px;
	--font-additem-btn: 16px;
	--height-additem-btn: 44px;
	--font-btn-delete: 16px;
	--height-btn-delete: 40px;
}
[data-scaling="normal"] {
	--font-block1: 16px;
	--font-flashed: 14px;
	--height-flashed: 17px;
	--font-list-label: 18px;
	--font-form-control: 18px;
	--font-listhowto: 14px;
	--height-listhowto: 17px;
	--font-ingred-label: 18px;
	--font-ingred-recipe: 12px;
	--size-btn4-icon: 20px;
	--font-additem-input: 18px;
	--height-additem-input: 44px;
	--font-additem-btn: 16px;
	--height-additem-btn: 44px;
	--font-btn-delete: 16px;
	--height-btn-delete: 40px;
}
[data-scaling="large"] {
	--font-block1: 18px;
	--font-flashed: 16px;
	--height-flashed: 19px;
	--font-list-label: 20px;
	--font-form-control: 20px;
	--font-listhowto: 16px;
	--height-listhowto: 19px;
	--font-ingred-label: 20px;
	--font-ingred-recipe: 14px;
	--size-btn4-icon: 22px;
	--font-additem-input: 20px;
	--height-additem-input: 46px;
	--font-additem-btn: 18px;
	--height-additem-btn: 46px;
	--font-btn-delete: 18px;
	--height-btn-delete: 42px;
}
/* ACCENT COLOR APPLICATION */
.b1leftinner div {background: var(--color); border-bottom: solid 1px var(--color-alt2);}
.list-selected {background: var(--color-alt1) !important;}
.additem-btn {background-color: var(--color);}
.additem-btn:hover {background: var(--color-lighter);}
.additem-btn:active, .additem-btn.active {background: var(--color-darker);}
@media screen and (max-width: 620px) { 
	.list-selected {background: var(--color) !important;}
}
/* BLOCK 1 */ 
#block1 {
	height: 100px;
	width: 100%;
	color: var(--color-block1);
	font-size: var(--font-block1);
}
#block1 h2 {padding-top: 12px; padding-bottom: 16px;}
.block1inner {
	height: 100%;
	margin: 0 auto;
	width: 1000px;
}
/* FLASHED MESSAGES */
#flashed-err {
	background: var(--color-flashed-err);
	font-size: var(--font-flashed);
	min-height: var(--height-flashed);
	margin-bottom: 0px;
	margin-top: 16px;
	padding: 6px;
}
#flashed-norm {
	background: var(--color-flashed-norm);
	font-size: var(--font-flashed);
	min-height: var(--height-flashed);
	margin-bottom: 0px;
	margin-top: 16px;
	padding: 6px;
}

#b1right {
	float: none;
	width: 100%;
}
#b1right h2 {padding-top: 14px;}
#b1right h3 {padding-bottom: 0px; padding-top: 16px;}
#listhowto {
	background: var(--color-listhowto); 
	font-size: var(--font-listhowto);
	min-height: var(--height-listhowto);
	margin: 0;
	padding: 6px;
}
.ingredinner {margin-top: 10px;}
.ingredinner div {
	background: var(--color-ingredinner-bg);
	border-bottom: solid 1px var(--color-ingredinner-border);
	min-height: 50px;
	position: relative;
	text-align: left;
	width: 100%;
}
.ingredinner div:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.ingredinner div:last-child {
	border-bottom: none !important;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.label-inner {
	padding-top: 13px;
	padding-bottom: 13px;
	margin: 0px;
}
.ingred-label {
	color: var(--color-ingred-label);
	display: inline-block;
	font-size: var(--font-ingred-label);
	margin: 0;
	padding-left: 10px;
	width: calc(100% - 62px);
}
.ingred-label a:hover {color: var(--color-ingred-label-a); text-decoration: none;}
.ingred-label a:active {color: var(--color-ingred-label-a); text-decoration: none;}
.ingred-recipe {
	color: var(--color-ingred-recipe);
	display: inline-block;
	font-size: var(--font-ingred-recipe);
	margin: 0;
	padding-left: 10px;
	padding-top: 6px;
	width: calc(100% - 62px);
}
.ingred-recipe a:hover {color: var(--color-ingred-recipe-a); text-decoration: none;}
.ingred-recipe a:active {color: var(--color-ingred-recipe-a); text-decoration: none;}
.btn4-default {
	background: none;
	border: none;
	cursor: pointer;
	float: none;
	position: absolute;
	right: 0;
	height: 100%;
	margin-right: 6px;
	padding-left: 0px;
	padding-right: 0px;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 38px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.btn4-default:active, .btn4-default.active, .btn4-default:hover, .btn4-default:focus {outline: none;}
.btn4-icon {
	display: block; 
	height: var(--size-btn4-icon); 
	padding-left: 9px; 
	width: var(--size-btn4-icon);
}
.btn4-icon img {height: 100%; width: 100%;}
.completed {text-decoration: line-through;}
.additem-input {
	background: var(--color-additem-input-bg);
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: var(--color-additem-input-font);
	font-size: var(--font-additem-input);
	height: var(--height-additem-input);
	margin-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	width: calc(100% - 122px);
	-webkit-box-shadow: none;
}
.additem-input:focus {box-shadow: none; outline: 0; -webkit-box-shadow: none;}
.additem-input::placeholder {color: var(--color-additem-input-placeholder);}
.additem-btn {
	border: none;
	border-radius: 0;
	color: var(--color-additem-btn);
	cursor: pointer;
	font-size: var(--font-additem-btn);
	height: var(--height-additem-btn);
	margin-bottom: 26px;
	margin-top: 10px;
	padding: 0;
	transition: background-color 0.08s linear, border 0.08s linear;
	width: 90px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
}
.additem-btn:active, .additem-btn.active, .additem-btn:hover, .additem-btn:focus {outline: none;}
.deletelist {
	height: 66px;
	margin: 0 auto;
	width: 136px;
}
.deletelist a:hover {text-decoration: none;}
.deletelist a:active {text-decoration: none;}
.btn-delete {
	background-color: var(--color-flashed-err);
	border: none;
	border-radius: 7px;
	color: var(--color-additem-btn);
	cursor: pointer;
	display: block;
	font-size: var(--font-btn-delete);
	height: var(--height-btn-delete);
	margin-bottom: 26px;
	padding-left: 10px;
	padding-right: 10px;
	transition: background-color 0.08s linear, border 0.08s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: background-color 0.08s linear, border 0.08s linear;
	white-space: nowrap;
}
.btn-delete:hover {background: var(--color-flashed-err-lighter);}
.btn-delete:active, .btn-delete.active {background: var(--color-flashed-err-darker);}
.btn-delete:active, .btn-delete.active, .btn-delete:hover, .btn-delete:focus {outline: none;}

/* RESPONSIVE */
@media screen and (max-width: 1000px) { 
	.block1inner {padding-left: 10px; padding-right: 10px; width: calc(100% - 20px);}
	#block1 p {padding-left: 10px;}
	.ingred-label {padding-left: 0px;}
	.ingred-recipe {padding-left: 0px;}
}
