.recbtn-active {background-color: #218c74 !important;}
.btn-default {background-color: #218c74;}
.btn-default:hover {background: #239179;}
.btn-default:active, .btn-default.active {background: #218972;}
.btn3-default {background-color: #218c74;}
.btn3-default:hover {background: #239179;}
.btn3-default:active, .btn3-default.active {background: #218972;}
.btn-next {background-color: #218c74;}
.btn-next:hover {background: #239179;}
.btn-next:active, .btn-next.active {background: #218972;}
.btn-prev {background-color: #218c74;}
.btn-prev:hover {background: #239179;}
.btn-prev:active, .btn-prev.active {background: #218972;}
.btn-submit {background-color: #218c74;}
.btn-submit:hover {background: #239179;}
.btn-submit:active, .btn-submit.active {background: #218972;}
.btn-addtolist {background-color: #218c74;}
.btn-addtolist:hover {background: #239179;}
.btn-addtolist:active, .btn-addtolist.active {background: #218972;}
