<p>{{ _('Dear User,') }}</p>

<p>{{ _('You requested to change the email address associated with your Tamari account.') }}</p>

<p>
	<a href="{{ url_for('account.verify_email_change', token=token, _external=True) }}">{{ _('Click here') }}</a>
	{{ _('to confirm this change.') }}
</p>

<p>{{ _('Alternatively, you can copy and paste this link directly:') }}</p>

<p>{{ url_for('account.verify_email_change', token=token, _external=True) }}</p>

<p>{{ _('You can ignore this message if you did not request an email change.') }}</p>