{% extends "navbar.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='master.css', _external=True) }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename='home.css', _external=True) }}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<main id="block1" onclick="closeDropdown()">
	<div class="block1inner">
		<h2>{{ _('Not Found') }}</h2>
		<p>{{ _('The page you requested was not found.') }}</p>
		{% set go_home = _('Go home.') %}
		{% if go_home.endswith('.') %}
			{% set go_home = go_home[:-1] %}
		{% endif %}
		<button class="btn btn-default" 
				type="button" 
				onclick="window.location.href='{{ url_for('myrecipes.allRecipes') }}';">
			{{ go_home }}
		</button>
	</div>
</main>
{% endblock %}
