{% extends "navbar.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='master.css', _external=True) }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename='account-history.css', _external=True) }}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<main id="block1" onclick="closeDropdown()">
	<div class="block1inner">
		<h2>My Account</h2>
		<div id="recipenav">
			<input type="button" class="recbtn recbtn1" onclick="window.location.href='{{ url_for('account.user') }}';" value="Preferences" aria-label="Navigate to Account Preferences"
			><input type="button" class="recbtn recbtn2 recbtn-active" onclick="window.location.href='{{ url_for('account.accountHistory') }}';" value="History" aria-label="Navigate to Account History">
		</div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% set first_message = true %}
		{% for message in messages %}
		{% if first_message %}
		{% if 'Error' in message %}
		<p id="flashed-err">{{ message }}</p>
		{% set first_message = false %}
		{% else %}
		<p id="flashed-norm">{{ message }}</p>
		{% set first_message = false %}
		{% endif %}
		{% else %}
		<p style="display: none;">{{ message }}</p>
		{% endif %}
		{% endfor %}
		{% endif %}
		{% endwith %}
		<p id="historynotice">This list displays changes to recipes and your account. To view Meal Plan history, go to Meal Planner Completed.</p>
		<div class="history">
			<div class="yearcontainer">
				<span class="year">2024</span>
				<div class="yearafter"></div>
			</div>
			<div class="eventcontainer">
			<div class="eventinner">
				<ul>
					<li class="lihidden">
						This list displays changes to recipes and your account. To view Meal Plan history, go to Meal Planner Completed.
					</li>
					{% for event in sorted_events %}
					<li>
						<div class="event">
							{% if event[0] %}
							<h3 class="date">{{ event[0].strftime('%B %-d, %Y') }}</h3>
							{% endif %}
							{% if event[1] %}
							<h1>{{ event[1] }}</h1>
							{% endif %}
							{% if event[2] %}
							<h4>{{ event[2] }}</h4>
							{% endif %}
							{% if event[3] %}
							<div class="eventimage recipe1" data-bgimage="{{ url_for('myrecipes.recipePhotos', filename=event[3], _external=True) }}"></div>
							{% endif %}
							{% if event[4] %}
							<p>{{ event[4] }}</p>
							{% endif %}
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			</div>

			<div class="yearcontainer">
				<span class="year">2024</span>
				<div class="yearafter"></div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block shortcuts %}
{% if current_user.is_authenticated %}
	<script>
		// CTRL+A keyboard shortcut to redirect to Add Recipe page, only when authenticated
        $(document).ready(function() {
            $(document).keydown(function(e) {
                if (e.ctrlKey && e.key === 'a') {
                    e.preventDefault();
                    window.location.href = '/add-recipe';
                }
            });
        });
    </script>
{% endif %}
{% endblock %}