{% extends "navbar.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='master.css', _external=True) }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename='account.css', _external=True) }}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<main id="block1" onclick="closeDropdown()">
	<div class="block1inner">
		<h2>My Account</h2>
		{% for message in get_flashed_messages() %}
		{% if 'Error' in message %}
		<p id="flashed-err">{{ message }}</p>
		{% else %}
		<p id="flashed-norm">{{ message }}</p>
		{% endif %}
		{% endfor %}
		<div class="userstats">
			<h3>User Stats</h3>
			<div class="boxdivider">&nbsp;</div>
			<div class="us-left">
				{% if user.pref_picture == 0 and user.pref_color == 0 %}
				<div class="us-avatar icon-1-blue"></div>
				{% elif user.pref_picture == 0 and user.pref_color == 1 %}
				<div class="us-avatar icon-1-green"></div>
				{% elif user.pref_picture == 0 and user.pref_color == 2 %}
				<div class="us-avatar icon-1-purple"></div>
				{% elif user.pref_picture == 0 and user.pref_color == 3 %}
				<div class="us-avatar icon-1-pink"></div>
				{% elif user.pref_picture == 1 and user.pref_color == 0 %}
				<div class="us-avatar icon-2-blue"></div>
				{% elif user.pref_picture == 1 and user.pref_color == 1 %}
				<div class="us-avatar icon-2-green"></div>
				{% elif user.pref_picture == 1 and user.pref_color == 2 %}
				<div class="us-avatar icon-2-purple"></div>
				{% elif user.pref_picture == 1 and user.pref_color == 3 %}
				<div class="us-avatar icon-2-pink"></div>
				{% elif user.pref_picture == 2 and user.pref_color == 0 %}
				<div class="us-avatar icon-3-blue"></div>
				{% elif user.pref_picture == 2 and user.pref_color == 1 %}
				<div class="us-avatar icon-3-green"></div>
				{% elif user.pref_picture == 2 and user.pref_color == 2 %}
				<div class="us-avatar icon-3-purple"></div>
				{% elif user.pref_picture == 2 and user.pref_color == 3 %}
				<div class="us-avatar icon-3-pink"></div>
				{% elif user.pref_picture == 3 and user.pref_color == 0 %}
				<div class="us-avatar icon-4-blue"></div>
				{% elif user.pref_picture == 3 and user.pref_color == 1 %}
				<div class="us-avatar icon-4-green"></div>
				{% elif user.pref_picture == 3 and user.pref_color == 2 %}
				<div class="us-avatar icon-4-purple"></div>
				{% else %}
				<div class="us-avatar icon-4-pink"></div>
				{% endif %}
			</div>
			<div class="us-right">
				{% if user.reg_time %}<p>Registered: {{ moment(user.reg_time).format('LLL') }}</p>{% endif %}
				{% if user.last_time %}<p>Last Visit: {{ moment(user.last_time).format('LLL') }}</p>{% endif %}
				<p>You have {{ rec_count }} recipes saved.</p>
			</div>
			<form method="post" novalidate>
				{{ form2.hidden_tag() }}
				<h4>Select Profile Picture</h4>
				<div class="profileselector">
					<input type="radio" name="propicture" value="0" id="pro-1" class="input-hidden"{% if user.pref_picture == 0 %} checked{% endif %}>
					<label for="pro-1">
						<img id="account-pic1" src="{{ url_for('static', filename='account-pic1.png', _external=True) }}" alt="Profile Picture 1">
					</label>
					<input type="radio" name="propicture" value="1" id="pro-2" class="input-hidden"{% if user.pref_picture == 1 %} checked{% endif %}>
					<label for="pro-2">
						<img id="account-pic2" src="{{ url_for('static', filename='account-pic2.png', _external=True) }}" alt="Profile Picture 2">
					</label>
					<input type="radio" name="propicture" value="2" id="pro-3" class="input-hidden"{% if user.pref_picture == 2 %} checked{% endif %}>
					<label for="pro-3">
						<img id="account-pic3" src="{{ url_for('static', filename='account-pic3.png', _external=True) }}" alt="Profile Picture 3">
					</label>
					<input type="radio" name="propicture" value="3" id="pro-4" class="input-hidden"{% if user.pref_picture == 3 %} checked{% endif %}>
					<label for="pro-4">
						<img id="account-pic4" src="{{ url_for('static', filename='account-pic4.png', _external=True) }}" alt="Profile Picture 4">
					</label>
				</div>
				<h4>Select Accent Color</h4>
				<div class="colorselector">
					<input type="radio" name="accentcolor" value="0" id="color-1" class="input-hidden"{% if user.pref_color == 0 %} checked{% endif %}>
					<label for="color-1">
						<img id="account-blue" src="{{ url_for('static', filename='account-blue.png', _external=True) }}" alt="Blue">
					</label>
					<input type="radio" name="accentcolor" value="1" id="color-2" class="input-hidden"{% if user.pref_color == 1 %} checked{% endif %}>
					<label for="color-2">
						<img id="account-green" src="{{ url_for('static', filename='account-green.png', _external=True) }}" alt="Green">
					</label>
					<input type="radio" name="accentcolor" value="2" id="color-3" class="input-hidden"{% if user.pref_color == 2 %} checked{% endif %}>
					<label for="color-3">
						<img id="account-purple" src="{{ url_for('static', filename='account-purple.png', _external=True) }}" alt="Purple">
					</label>
					<input type="radio" name="accentcolor" value="3" id="color-4" class="input-hidden"{% if user.pref_color == 3 %} checked{% endif %}>
					<label for="color-4">
						<img id="account-pink" src="{{ url_for('static', filename='account-pink.png', _external=True) }}" alt="Pink">
					</label>
				</div>
				{{ form2.submit2(class="btn btn-default") }}
			</form>
		</div>
		<div class="updatedetails">
			<h3>Update or Delete Account</h3>
			<div class="boxdivider">&nbsp;</div>
			<form method="post" novalidate>
				{{ form.hidden_tag() }}
				<div class="form-group required">
					<label class="control-label" for="email">Email</label>
					{{ form.email(class="form-control") }}
					{% for error in form.email.errors %}
					<div class="fielderror"><div id="errorpassword">{{ error }}</div></div>
					{% endfor %}
				</div>
				<div class="form-group">
					<label class="control-label" for="password">New Password</label>
					{{ form.password(class="form-control") }}
					{% for error in form.password.errors %}
					<div class="fielderror"><div id="errorpassword">{{ error }}</div></div>
					{% endfor %}
				</div>
				<div class="form-group">
					<label class="control-label" for="password2">Confirm Password</label>
					{{ form.password2(class="form-control") }}
					{% for error in form.password2.errors %}
					<div class="fielderror"><div id="errorpassword">{{ error }}</div></div>
					{% endfor %}
				</div>
				<div class="updatebuttons">
					{{ form.submit(class="btn btn-default") }}
					<button class="btn btn-default2" formaction="{{ url_for('deleteAccount') }}" formmethod="get" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">Delete Account</button>
				</div>
			</form>
		</div>
	</div>
</main>
{% endblock %}

