{% extends "navbar.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='master.css', _external=True) }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename='add-recipe.css', _external=True) }}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<main id="block1" onclick="closeDropdown()">
	<div class="block1inner">
		<h2>Add a New Recipe</h2>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% set first_message = true %}
		{% for message in messages %}
		{% if first_message %}
		{% if 'Error' in message %}
		<p id="flashed-err">{{ message }}</p>
		{% set first_message = false %}
		{% else %}
		<p id="flashed-norm">{{ message }}</p>
		{% set first_message = false %}
		{% endif %}
		{% else %}
		<p style="display: none;">{{ message }}</p>
		{% endif %}
		{% endfor %}
		{% endif %}
		{% endwith %}
		<form method="post" enctype="multipart/form-data" novalidate>
			{{ form.hidden_tag() }}
			<div class="form-group">
				<label class="control-label" for="recipe_name">Recipe Name</label><br>
				{{ form.recipe_name(class="form-control fc1", placeholder="Air Fryer Squash") }}
				{% for error in form.recipe_name.errors %} 
				<span class="errorrequired">{{ error }}</span>
				{% endfor %}  
			</div>
			<div class="custom-select">
				<div class="cust-select">
					<label class="control-label" for="category">Select Category</label><br>
					<select name="category" id="category">
						<option value="" disabled hidden>Choose here</option>
						{% for choice in choices %}
						<option value="{{ choice }}">{{ choice }}</option>
						{% endfor %}
					</select>
				</div>
				{% for error in form.category.errors %}
				<span class="errorrequired">{{ error }}</span>
				{% endfor %}  
			</div>
			<div class="form-group">
				<label>Attach Photo</label><br>
				<input type="file" class="custom-file-input" name="image" id="image" accept=".png,.jpg,.jpeg">
			</div>
			<div class="form-group">
				<label class="control-label" for="description">Description</label><br>
				{{ form.description(class="form-control fc2", placeholder="My crispy squash recipe.") }}
				{% for error in form.description.errors %}
				<span class="errorrequired">{{ error }}</span>
				{% endfor %}
			</div>
			<div class="form-group">
				<label class="control-label" for="url">URL</label><br>
				{{ form.url(class="form-control fc1", placeholder="https://www.example.com/recipes/air-fryer-squash") }}
				{% for error in form.url.errors %}
				<span class="errorrequired">{{ error }}</span>
				{% endfor %}   
			</div>
			<div class="form-group">
				<label class="control-label" for="servings">Servings</label><br>
				{{ form.servings(class="form-control fc1", placeholder="2") }}
				{% for error in form.servings.errors %}
				<span class="errorrequired">{{ error }}</span>
				{% endfor %}
			</div>
			<div class="form-group3">
				<div>
					<label class="control-label" for="prep_time">Preparation Time (minutes)</label><br>
					{{ form.prep_time(class="form-control fc1", placeholder="15") }}
					{% for error in form.prep_time.errors %}
					<span class="errorrequired">{{ error }}</span>
					{% endfor %}   
				</div>
				<div>
					<label class="control-label" for="cook_time">Cook Time (minutes)</label><br>
					{{ form.cook_time(class="form-control fc1", placeholder="30") }}
					{% for error in form.cook_time.errors %}
					<span class="errorrequired">{{ error }}</span>
					{% endfor %}   
				</div>
				<div>
					<label class="control-label" for="total_time">Total Time (minutes)</label><br>
					{{ form.total_time(class="form-control fc1", placeholder="45") }}
					{% for error in form.total_time.errors %}
					<span class="errorrequired">{{ error }}</span>
					{% endfor %}
				</div>
			</div>
			<input type="checkbox" id="nutrition_checkbox" name="n_checkbox" onchange="toggleNutrition('a')">
			<label class="togglelabel" for="nutrition_checkbox">Add Nutrition Info</label>
			<div id="nutrition">
				<div class="form-group4">
					<div>
						<label class="control-label" for="n_calories">Calories (kcal)</label><br>
						{{ form.n_calories(class="form-control fc1", placeholder="393") }}
						{% for error in form.n_calories.errors %}
						<span class="errorrequired">{{ error }}</span>
						{% endfor %}
					</div>
					<div>
						<label class="control-label" for="n_carbs">Carbs (g)</label><br>
						{{ form.n_carbs(class="form-control fc1", placeholder="46") }}
						{% for error in form.n_carbs.errors %}
						<span class="errorrequired">{{ error }}</span>
						{% endfor %}
					</div>
					<div>
						<label class="control-label" for="n_protein">Protein (g)</label><br>
						{{ form.n_protein(class="form-control fc1", placeholder="8") }}
						{% for error in form.n_protein.errors %}
						<span class="errorrequired">{{ error }}</span>
						{% endfor %}
					</div>
					<div>
						<label class="control-label" for="n_fat">Fat (g)</label><br>
						{{ form.n_fat(class="form-control fc1", placeholder="17") }}
						{% for error in form.n_fat.errors %}
						<span class="errorrequired">{{ error }}</span>
						{% endfor %}
					</div>
					<div>
						<label class="control-label" for="n_sugar">Sugar (g)</label><br>
						{{ form.n_sugar(class="form-control fc1", placeholder="2") }}
						{% for error in form.n_sugar.errors %}
						<span class="errorrequired">{{ error }}</span>
						{% endfor %}
					</div>
					<div>
						<label class="control-label" for="n_cholesterol">Cholesterol (mg)</label><br>
						{{ form.n_cholesterol(class="form-control fc1", placeholder="7") }}
						{% for error in form.n_cholesterol.errors %}
						<span class="errorrequired">{{ error }}</span>
						{% endfor %}
					</div>
					<div>
						<label class="control-label" for="n_sodium">Sodium (mg)</label><br>
						{{ form.n_sodium(class="form-control fc1", placeholder="122") }}
						{% for error in form.n_sodium.errors %}
						<span class="errorrequired">{{ error }}</span>
						{% endfor %}
					</div>
					<div>
						<label class="control-label" for="n_fiber">Fiber (g)</label><br>
						{{ form.n_fiber(class="form-control fc1", placeholder="1") }}
						{% for error in form.n_fiber.errors %}
						<span class="errorrequired">{{ error }}</span>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="form-group2">
				<div>
					<label class="control-label" for="ingredients">Ingredients</label><br>
					{{ form.ingredients(class="form-control fc3", placeholder="2 Tbsp olive oil") }}
					{% for error in form.ingredients.errors %}
					<span class="errorrequired">{{ error }}</span>
					{% endfor %}  
				</div>
				<div>
					<label class="control-label" for="instructions">Instructions</label><br>
					{{ form.instructions(class="form-control fc3", placeholder="Wash squash in sink to prepare.") }}
					{% for error in form.instructions.errors %}
					<span class="errorrequired">{{ error }}</span>
					{% endfor %}  
				</div>
			</div>
			<div class="submitdiv">
				{{ form.submit(class="btn btn-default") }}
			</div>
		</form>
	</div>
</main>
{% endblock %}
