<!DOCTYPE html>
<html lang="en-US">
<head>{% block head %}
	<title>{% block title %}{% endblock title %}</title>
	{% block metas %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% endblock metas %}
	{% block styles %}
	{% endblock styles %}
	{% block extrastyles %}
	{% endblock extrastyles %}
{% endblock head %}</head>
<body onload="msgtoggle()">
	{% block body %}
	{% block navbar %}
	{% endblock navbar %}
	{% block content %}
	{% endblock content %}

	{% block scripts %}
	{% endblock scripts %}
	{% endblock body %}
</body>
</html>
