<!DOCTYPE html>
<html lang="en-US">
<head>{% block head %}
	<title>{% block title %}{% endblock title %}</title>
	{% block metas %}<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#efefef" media="(prefers-color-scheme: light)">
	<meta name="description" content="{% if mdescription %}{{ mdescription }}{% else %}Tamari recipe manager web app.{% endif %}">
	<meta name="apple-mobile-web-app-title" content="Tamari">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="manifest" href="/static/site.webmanifest">
	<link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon-180.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon-152.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/apple-touch-icon-120.png">{% endblock metas %}
	{% block styles %}
	{% endblock styles %}
	{% block extrastyles %}
	{% endblock extrastyles %}
{% endblock head %}</head>
<body onload="if (typeof msgtoggle === 'function') { msgtoggle(); }">
	{% block body %}
	{% block navbar %}
	{% endblock navbar %}
	{% block content %}
	{% endblock content %}
	{% block footer %}
	{% endblock footer %}

	{% block scripts %}
	{% endblock scripts %}
	{% block shortcuts %}
	{% endblock shortcuts %}
	{% endblock body %}
</body>
</html>
