{% extends "navbar.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='master.css', _external=True) }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename='explore.css', _external=True) }}" rel='stylesheet' type='text/css'>
	<script src="{{ url_for('static', filename='explore-image-loader.js', _external=True) }}"></script>
{% endblock %}

{% block content %}
<main id="block1" onclick="closeDropdown()">
	<div class="block1inner">
		{% if rec_all %}
		
		<div class="searchform">
			<form method="post" novalidate>
				{{ form.hidden_tag() }}
				{{ form.search(class="search-input", id="exploresearch", placeholder="Search 100,000+ Recipes") }}
				<button class="search-btn" name="submit" type="submit">
					<span class="searchbtn-icon"><img id="searchimg" src="{{ url_for('static', filename='search.png', _external=True) }}" alt=""></span>
				</button>
			</form> 
		</div>
		<h2>Browse By Category</h2>
		<div class="expcatcontainer">
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='30-minute') }}">
				<div class="iconcontainer">
					<img alt="30 Minute Meals" src="{{ url_for('static', filename='explore-icon-30minute.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='30-minute') }}" class="expcatlabel">30 Minute</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='air-fryer') }}">
				<div class="iconcontainer">
					<img alt="Air Fryer" src="{{ url_for('static', filename='explore-icon-airfryer.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='air-fryer') }}" class="expcatlabel">Air Fryer</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='beef') }}">
				<div class="iconcontainer">
					<img alt="Beef" src="{{ url_for('static', filename='explore-icon-beef.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='beef') }}" class="expcatlabel">Beef</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='breakfast') }}">
				<div class="iconcontainer">
					<img alt="Breakfast" src="{{ url_for('static', filename='explore-icon-breakfast.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='breakfast') }}" class="expcatlabel">Breakfast</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='chicken') }}">
				<div class="iconcontainer">
					<img alt="Chicken" src="{{ url_for('static', filename='explore-icon-chicken.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='chicken') }}" class="expcatlabel">Chicken</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='dessert') }}">
				<div class="iconcontainer">
					<img alt="Dessert" src="{{ url_for('static', filename='explore-icon-dessert.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='dessert') }}" class="expcatlabel">Dessert</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='dinner') }}">
				<div class="iconcontainer">
					<img alt="Dinner" src="{{ url_for('static', filename='explore-icon-dinner.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='dinner') }}" class="expcatlabel">Dinner</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='drinks') }}">
				<div class="iconcontainer">
					<img alt="Drinks" src="{{ url_for('static', filename='explore-icon-drinks.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='drinks') }}" class="expcatlabel">Drinks</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='low-carb') }}">
				<div class="iconcontainer">
					<img alt="Low Carb" src="{{ url_for('static', filename='explore-icon-lowcarb.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='low-carb') }}" class="expcatlabel">Low Carb</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='lunch') }}">
				<div class="iconcontainer">
					<img alt="Lunch" src="{{ url_for('static', filename='explore-icon-lunch.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='lunch') }}" class="expcatlabel">Lunch</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='salads') }}">
				<div class="iconcontainer">
					<img alt="Salads" src="{{ url_for('static', filename='explore-icon-salads.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='salads') }}" class="expcatlabel">Salads</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='seafood') }}">
				<div class="iconcontainer">
					<img alt="Seafood" src="{{ url_for('static', filename='explore-icon-seafood.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='seafood') }}" class="expcatlabel">Seafood</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='slow-cooker') }}">
				<div class="iconcontainer">
					<img alt="Slow Cooker" src="{{ url_for('static', filename='explore-icon-slowcooker.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='slow-cooker') }}" class="expcatlabel">Slow Cooker</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='snacks') }}">
				<div class="iconcontainer">
					<img alt="Snacks" src="{{ url_for('static', filename='explore-icon-snacks.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='snacks') }}" class="expcatlabel">Snacks</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='soup') }}">
				<div class="iconcontainer">
					<img alt="Soup" src="{{ url_for('static', filename='explore-icon-soup.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='soup') }}" class="expcatlabel">Soup</a>
		</div>
		<div class="expcat">
			<a href="{{ url_for('explore.exploreGroup', group='vegetarian') }}">
				<div class="iconcontainer">
					<img alt="Vegetarian" src="{{ url_for('static', filename='explore-icon-vegetarian.png', _external=True) }}">
				</div>
			</a>
			<a href="{{ url_for('explore.exploreGroup', group='vegetarian') }}" class="expcatlabel">Vegetarian</a>
		</div>
		</div>
		<h2>All Recipes 🍽️</h2>
		<div id="recipecont" class="recipe2cont">
			{% for recipe in rec_all %}
			<a href="{{ url_for('explore.exploreRecipeDetail', recnum=recipe[3], rec_group='all') }}" class="r2a">
			<div class="recipe2">
				<div class="recipe2inner">
					<div class="r2top" style="background-image: url('{{ url_for('myrecipes.recipePhotos', filename=default_photos[(loop.index - 1) % default_photos|length], _external=True) }}')" data-bgimage="{{ recipe[4] }}"></div>
					<div class="r2bottom">
						<div>{{ recipe[0] }}</div>
						<span>{{ recipe[1] }}</span>
					</div>
				</div>
			</div>
			</a>
			{% endfor %}
			<a href="{{ url_for('explore.exploreGroup', group='all') }}" class="r2a">
			<div class="recipe2">
				<div class="recipe2inner r2seemore">
					<div class="r2top r2seemore"><span class="r2seemorespan">See More</span></div>
					<div class="r2bottom"></div>
				</div>
			</div>
			</a>
		</div>
	
		{% else %}
		<h2 class="errorh2">Error</h2>
		<p>Recipes failed to load.</p>
		{% endif %}
	</div>
</main>
{% endblock %}
