
{% extends "navbar.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='master.css', _external=True) }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename='explore-recipe-detail.css', _external=True) }}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<main id="block1" onclick="closeDropdown()">
	<div class="block1inner">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% set first_message = true %}
		{% for message in messages %}
		{% if first_message %}
		{% if 'Error' in message %}
		<p id="flashed-err">{{ message }}</p>
		{% set first_message = false %}
		{% else %}
		<p id="flashed-norm">{{ message }}</p>
		{% set first_message = false %}
		{% endif %}
		{% else %}
		<p style="display: none;">{{ message }}</p>
		{% endif %}
		{% endfor %}
		{% endif %}
		{% endwith %}
		{% if rec_title and rec_url %}
		{% if ingredients and instructions %}
		<div id="r-detail">
			<h2>{{ rec_title }}</h2>
			<div class="mobile-image-inner">
				<div class="mobile-image" style="background-image: url('{{ photo_server }}');"></div>
			</div>
			{% if description %}
			<p>{{ description }}</p>
			{% endif %}
			{% if servings %}
			<p>{{ servings }} Servings</p>
			{% endif %}
			{% if nutrition %}
			<table>
				<tr>
				  	<th>Nutrition (1 serv.)</th>
				  	<th>Amount</th>
				  	<th class="t-col-4">Nutrition (1 serv.)</th>
				  	<th class="t-col-4">Amount</th>
				</tr>
				<tr>
				  	<td>Calories</td>
				  	<td>{% if calories %}{{ calories }} kcal{% else %}–{% endif %}</td>
				  	<td class="t-col-4">Sugar</td>
					<td class="t-col-4">{% if sugar %}{{ sugar }} g{% else %}–{% endif %}</td>
				</tr>
				<tr>
				  	<td>Carbs</td>
				  	<td>{% if carbs %}{{ carbs }} g{% else %}–{% endif %}</td>
				  	<td class="t-col-4">Cholesterol</td>
					<td class="t-col-4">{% if cholesterol %}{{ cholesterol }} mg{% else %}–{% endif %}</td>
				</tr>
				<tr>
				  	<td>Protein</td>
				  	<td>{% if protein %}{{ protein }} g{% else %}–{% endif %}</td>
				  	<td class="t-col-4">Sodium</td>
					<td class="t-col-4">{% if sodium %}{{ sodium }} mg{% else %}–{% endif %}</td>
				</tr>
				<tr>
					<td>Fat</td>
					<td>{% if fat %}{{ fat }} g{% else %}–{% endif %}</td>
					<td class="t-col-4">Fiber</td>
					<td class="t-col-4">{% if fiber %}{{ fiber }} g{% else %}–{% endif %}</td>
				</tr>
				<tr class="t-col-2">
					<td>Sugar</td>
				  	<td>{% if sugar %}{{ sugar }} g{% else %}–{% endif %}</td>
			  	</tr>
			  	<tr class="t-col-2">
					<td>Cholesterol</td>
				  	<td>{% if cholesterol %}{{ cholesterol }} mg{% else %}–{% endif %}</td>
			  	</tr>
			  	<tr class="t-col-2">
					<td>Sodium</td>
				  	<td>{% if sodium %}{{ sodium }} mg{% else %}–{% endif %}</td>
			  	</tr>
			  	<tr class="t-col-2">
				  	<td>Fiber</td>
				  	<td>{% if fiber %}{{ fiber }} g{% else %}–{% endif %}</td>
			  	</tr>
			</table>
			{% endif %}
			<p>
				{% if preptime %}<span class="timeouter"><span class="timebold">Prep Time:</span> {{ preptime }} min</span>{% endif %}
				{% if cooktime %}<span class="timeouter"><span class="timebold">Cook Time:</span> {{ cooktime }} min</span>{% endif %}
				{% if totaltime %}<span class="timeouter"><span class="timebold">Total Time:</span> {{ totaltime }} min</span>{% endif %}
			</p>
			{% if rec_url %}
			<p><a class="urla" href="{{ rec_url }}" target="_blank" aria-label="Original recipe URL">{{ rec_url }}</a></p>
			{% endif %}
			{% if current_user.is_authenticated %}
			<form method="post" novalidate>
				{{ form.hidden_tag() }}
				<button class="btn btn-default" name="submit" type="submit" aria-label="Save Recipe">
                    <span class="btn-icon"><img id="saveimg" src="{{ url_for('static', filename='save.png', _external=True) }}" alt="Save Recipe"></span>
                    <span class="btn-text">Save Recipe</span>
                </button>
			</form>
			{% endif %}
		</div>
		<div id="r-image" style="background-image: url('{{ photo_server }}');"></div>
		<div id="ingredients">
			<h3>Ingredients</h3>
			<div id="inginner" class="inginner">
				{% for item in ingredients %}
				<div><p class="ing">{{ item }}</p></div>
				{% endfor %}
			</div>
		</div>
		<div id="instructions">
			<h3>Instructions</h3>
			{% for item in instructions %}
			<div class="steps"><b>Step {{ loop.index }}</b><p>{{ item }}</p></div>
			{% endfor %}
		</div>
		{% else %}
		<h2 class="recipe-error">Error</h2>
		<p class="recipe-error">The retrieval or parsing of data for the requested recipe failed.</p>
		<p class="recipe-error">Sometimes, refreshing the page will fix it.</p>
		<p class="recipe-error">If you see this error frequently, opening an Issue Report on Github may help get it resolved.</p>
		{% endif %}
		{% else %}
		<h2 class="recipe-error">Error</h2>
		<p class="recipe-error">The requested recipe cannot be found.</p>
		{% endif %}
	</div>
</main>
{% endblock %}

{% block shortcuts %}
{% if current_user.is_authenticated %}
	<script>
		// CTRL+A keyboard shortcut to redirect to Add Recipe page, only when authenticated
        $(document).ready(function() {
            $(document).keydown(function(e) {
                if (e.ctrlKey && e.key === 'a') {
                    e.preventDefault();
                    window.location.href = '/add-recipe';
                }
            });
        });
    </script>
{% endif %}
{% endblock %}