{% extends "base.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='master.css', _external=True) }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename='login.css', _external=True) }}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='login.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='theme-switch.js', _external=True) }}"></script>
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeNoAuth();
		themeElements();
	});
</script>
{% endblock %}

{% block content %}
<main id="block1">
	<div id="b1box" class="block1box">
		<div class="block1top">
			<div class="b1logo"></div>
		</div>
		<div id="b1bottom" class="block1bottom">
			<button class="logregselector logregactive" onclick="window.location.href='{{ url_for('login') }}';">Sign In</button
			><button class="logregselector" onclick="window.location.href='{{ url_for('register') }}';">Register</button>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
			<p id="errorlogin">{{ message }}</p>
			{% endfor %}
			{% endif %}
			{% endwith %}
			<form method="post" novalidate>
				{{ form.hidden_tag() }}
				<div class="form-group  required">
					{{ form.email(class="form-control", placeholder="Email") }}
					{% for error in form.email.errors %}
					<span id="erroremail">{{ error }}</span>
					{% endfor %}
				</div>
				<div class="form-group  required">
					{{ form.password(class="form-control", placeholder="Password") }}
					{% for error in form.password.errors %}
					<span id="errorpassword">{{ error }}</span>
					{% endfor %}   
				</div>
				<div class="check">
					<label class="checkbox">Keep me Signed in
						{{ form.remember_me(class="rememberme") }}
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="signinreset">
					{{ form.submit(class="btn btn-default") }}
					<div class="resetlink"><a href=" {{ url_for('request_reset') }}">Reset Password?</a></div>
				</div>
			</form>
		</div>
	</div>
</main>
{% endblock %}
