{% extends "navbar.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='master.css', _external=True) }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename='meal-planner-completed.css', _external=True) }}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<main id="block1" onclick="closeDropdown()">
	<div class="block1inner">
		<div id="recipenav">
			<input type="button" class="recbtn recbtn1" onclick="window.location.href='{{ url_for('mealplanner.mealPlanner') }}';" value="Upcoming" aria-label="Navigate to Meal Planner (Upcoming)"
			><input type="button" class="recbtn recbtn2 recbtn-active" onclick="window.location.href='{{ url_for('mealplanner.mealPlannerCompleted') }}';" value="Completed" aria-label="Navigate to Meal Planner (Completed)">
		</div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% set first_message = true %}
		{% for message in messages %}
		{% if first_message %}
		{% if 'Error' in message %}
		<p id="flashed-err">{{ message }}</p>
		{% set first_message = false %}
		{% else %}
		<p id="flashed-norm">{{ message }}</p>
		{% set first_message = false %}
		{% endif %}
		{% else %}
		<p style="display: none;">{{ message }}</p>
		{% endif %}
		{% endfor %}
		{% endif %}
		{% endwith %}
		<div id="b1left">
			<div class="b1leftinner">
				<h2>Statistics</h2>
				<h3>Recipes Prepared</h3>
				<div class="statsbox">
					<div>
						<span class="statsbox-label">Past Week</span>
						<span class="statsbox-number">5</span>
					</div>
					<div>
						<span class="statsbox-label">Past Month</span>
						<span class="statsbox-number">15</span>
					</div>
					<div>
						<span class="statsbox-label">Past Year</span>
						<span class="statsbox-number">185</span>
					</div>
				</div>
				<h3>Days Cooked</h3>
				<div class="statsbox">
					<div>
						<span class="statsbox-label">Past Week</span>
						<span class="statsbox-number">2</span>
					</div>
					<div>
						<span class="statsbox-label">Past Month</span>
						<span class="statsbox-number">7</span>
					</div>
					<div>
						<span class="statsbox-label">Past Year</span>
						<span class="statsbox-number">76</span>
					</div>
				</div>
			</div>
		</div>
		<div id="b1right">
			<h2>Completed Recipes</h2>
			{% if mealsinyear %} 
			{% for day in year %}
			{% if day[0] in dayswithmeals %}<h3>{{ day[1] }}</h3>{% endif %}
			<div class="planinner">
				{% for meal in plannedmeals %}
				{% if meal.date == day[0] %}
				<div>
					<p class="label-inner">
						<span class="plan-label"><a href="{{ url_for('myrecipes.recipeDetail', hexid=recdetails[loop.index0][2]) }}">{{ recdetails[loop.index0][0] }}</a></span>
						<span class="plan-category">{{ recdetails[loop.index0][1] }}</span>
					</p>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
			{% else %}
			<p id="mealmessage">Previously prepared recipes will be displayed here.</p>
			{% endif %}
		</div>

	</div>
</main>
{% endblock %}

{% block shortcuts %}
{% if current_user.is_authenticated %}
	<script>
		// CTRL+A keyboard shortcut to redirect to Add Recipe page, only when authenticated
        $(document).ready(function() {
            $(document).keydown(function(e) {
                if (e.ctrlKey && e.key === 'a') {
                    e.preventDefault();
                    window.location.href = '/add-recipe';
                }
            });
        });
    </script>
{% endif %}
{% endblock %}