{% extends "navbar.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='master.css', _external=True) }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename='mobile-shopping-list.css', _external=True) }}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<main id="block1" onclick="closeDropdown()">
	<div class="block1inner">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for index, message in enumerate(messages) %}
		{% if index == 0 %}
		{% if 'Error' in message %}
		<p id="flashed-err">{{ message }}</p>
		{% else %}
		<p id="flashed-norm">{{ message }}</p>
		{% endif %}
		{% else %}
		<p style="display: none;">{{ message }}</p>
		{% endif %}
		{% endfor %}
		{% endif %}
		{% endwith %}
		<div id="b1right">
			{% if list %}
			<h2>'{{ list.label }}' List</h2>
			{% if items %}
			<p id="listhowto">Click an item to add or remove it from Completed.</p>
			{% if items_tobuy %} 
			<h3>To Buy</h3>
			<div class="ingredinner">
				{% for item in items_tobuy %}
				<div>
					<button class="btn4-default" onclick="window.location.href='{{ url_for('shoplists.removeListitem', hexid=item.hex_id, mobile=1) }}';">
						<span class="btn4-icon"><img class="trashimg" src="{{ url_for('static', filename='trash.png', _external=True) }}" alt=""></span>
					</button>
					<p class="label-inner">
						<span class="ingred-label"><a href="{{ url_for('shoplists.markItem', hexid=item.hex_id, mobile=1) }}">{{ item.item }}</a></span>
						{% if item.rec_title %}<span class="ingred-recipe"><a href="{{ url_for('shoplists.markItem', hexid=item.hex_id, mobile=1) }}">For recipe: {{ item.rec_title }}</a></span>{% endif %}
					</p>
				</div>
				{% endfor %}
			</div>
			{% endif %}
			{% if items_comp %}
			<h3>Completed</h3>
			<div class="ingredinner">
				{% for item in items_comp %}
				<div>
					<button class="btn4-default" onclick="window.location.href='{{ url_for('shoplists.removeListitem', hexid=item.hex_id, mobile=1) }}';">
						<span class="btn4-icon"><img class="trashimg" src="{{ url_for('static', filename='trash.png', _external=True) }}" alt=""></span>
					</button>
					<p class="label-inner">
						<span class="ingred-label completed"><a href="{{ url_for('shoplists.markItem', hexid=item.hex_id, mobile=1) }}">{{ item.item }}</a></span>
						{% if item.rec_title %}<span class="ingred-recipe completed"><a href="{{ url_for('shoplists.markItem', hexid=item.hex_id, mobile=1) }}">For recipe: {{ item.rec_title }}</a></span>{% endif %}
					</p>
				</div>
				{% endfor %}
			</div>
			{% endif %}
			{% else %}
			<p id="listhowto">This list has no items saved. Add one below or from a Recipe Detail page.</p>
			{% endif %}
			<h3>Add an Item</h3>
			<form method="post" class="form">
				{{ form.hidden_tag() }}
				{{ form.newitem(class="additem-input", placeholder="(4) yellow squash") }}
				{{ form.submititem(class="additem-btn") }}
			</form>
			<div class="deletelist">
				<form style="display: inline;" action="{{ url_for('shoplists.removeList', hexid=list.hex_id, mobile=1) }}" method="get" onsubmit="return confirm('Are you sure you want to delete the shopping list {{ list.label }}?');"> 
					<button class="btn-delete">Delete This List</button>
				</form>
			</div>
			{% endif %}
		</div>

	</div>
</main>
{% endblock %}
