{% extends 'base.html' %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='theme-switch.js', _external=True) }}"></script>
<script src="{{ url_for('static', filename='jquery-3.7.0.min.js', _external=True) }}"></script>
<script>
	function toggleDropdown() {
		document.getElementById("myDropdown").classList.toggle("showdrop");
    	}
    	function closeDropdown() {
		document.getElementById("myDropdown").classList.remove("showdrop");
    	}
	function toggleSettings() {
		document.getElementById("settingsDrop").classList.toggle("showsettings");
	}
	$(function(){
		var $curParent, Content;
		$(document).delegate(".ing","click", function(){
			if($(this).closest("s").length) {
				Content = $(this).parent("s").html();
				$curParent = $(this).closest("s");
				$(Content).insertAfter($curParent);
				$(this).closest("s").remove();
			}
			else {
				$(this).wrapAll("<s />");
			}
		});
	});
	$(function(){
		var $curParent, Content;
		$(document).delegate(".steps","click", function(){
			if($(this).closest("s").length) {
				Content = $(this).parent("s").html();
				$curParent = $(this).closest("s");
				$(Content).insertAfter($curParent);
				$(this).closest("s").remove();
			}
			else {
				$(this).wrapAll("<s />");
			}
		});
	});
	$("#search").keyup(function() {
		var filter = $(this).val(), // get text from input field
		count = 0; // reset count to zero
		$('#recipecont a').each(function() { // loop through recipes
			if ($(this).text().search(new RegExp(filter, "i")) < 0) {
				$(this).hide();  // hide recipe if does not match search
			} else {
				$(this).show(); // show recipe if matches search
				count++; // increase count by 1
			}
		});
	});

	if ('IntersectionObserver' in window) { // if IntersectionObserver support in browser
		document.addEventListener("DOMContentLoaded", function() {
			function handleIntersection(entries) {
				entries.map((entry) => {
					if (entry.isIntersecting) {
          				// Item has crossed our observation
          				// threshold - load src from data-src
          				entry.target.style.backgroundImage = "url('"+entry.target.dataset.bgimage+"')";
          				// Job done for this item - no need to watch it!
          				observer.unobserve(entry.target);
        			}
      			});
    		}
    		const headers = document.querySelectorAll('.recipe1');
    		const observer = new IntersectionObserver(
      			handleIntersection,
      			{ rootMargin: "{{ dynrootmargin }}" }
    		);
    		headers.forEach(header => observer.observe(header));
		});
	} else { // else load all images at once
		const headers = document.querySelectorAll('.recipe1');
		headers.forEach(header => {
    		header.style.backgroundImage = "url('"+header.dataset.bgimage+"')";
  		});
	}

	if ('IntersectionObserver' in window) { // if IntersectionObserver support in browser
		document.addEventListener("DOMContentLoaded", function() {
			function handleIntersection(entries) {
				entries.map((entry) => {
					if (entry.isIntersecting) {
          				// Item has crossed our observation
          				// threshold - load src from data-src
          				entry.target.style.backgroundImage = "url('"+entry.target.dataset.bgimage+"')";
          				// Job done for this item - no need to watch it!
          				observer.unobserve(entry.target);
        			}
      			});
    		}
    		const headers = document.querySelectorAll('.r2top');
    		const observer = new IntersectionObserver(
      			handleIntersection,
      			{ rootMargin: "{{ dynrootmargin }}" }
    		);
    		headers.forEach(header => observer.observe(header));
		});
	} else { // else load all images at once
		const headers = document.querySelectorAll('.r2top');
		headers.forEach(header => {
    		header.style.backgroundImage = "url('"+header.dataset.bgimage+"')";
  		});
	}
	
	// Add and Edit Recipe hidden div
	function toggleNutrition(check) {
		// Find nutrition_checkbox element
    	var checkbox = document.getElementById("nutrition_checkbox");
		// Set checkbox if passed argument is true or false
		if (check === true) {checkbox.checked = true;}
		if (check === false) {checkbox.checked = false;}
		// Find togglelabel and nutrition div
		var label = document.querySelector(".togglelabel");
    	var div = document.getElementById("nutrition");
		// Set nutrition div display and label text
    	if (checkbox.checked) {
			div.style.display = "block";
			label.innerText = "Delete Nutrition Info";
    	} else {
        	div.style.display = "none";
			label.innerText = "Add Nutrition Info";
    	}
	}
</script>
{% if current_user.is_authenticated %}
{% if current_user.pref_theme == 1 and current_user.pref_color == 0 %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth('light', 'light-blue');
		themeElements();
	});
</script>
{% elif current_user.pref_theme == 1 and current_user.pref_color == 1 %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth('light', 'light-green');
		themeElements();
	});
</script>
{% elif current_user.pref_theme == 1 and current_user.pref_color == 2 %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth('light', 'light-purple');
		themeElements();
	});
</script>
{% elif current_user.pref_theme == 1 and current_user.pref_color == 3 %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth('light', 'light-pink');
		themeElements();
	});
</script>
{% elif current_user.pref_theme == 2 and current_user.pref_color == 0 %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth('dark', 'dark-blue');
		themeElements();
	});
</script>
{% elif current_user.pref_theme == 2 and current_user.pref_color == 1 %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth('dark', 'dark-green');
		themeElements();
	});
</script>
{% elif current_user.pref_theme == 2 and current_user.pref_color == 2 %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth('dark', 'dark-purple');
		themeElements();
	});
</script>
{% elif current_user.pref_theme == 2 and current_user.pref_color == 3 %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth('dark', 'dark-pink');
		themeElements();
	});
</script>
{% elif current_user.pref_theme == 0 and current_user.pref_color == 0 %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth(null, 'blue');
		themeElements();
	});
</script>
{% elif current_user.pref_theme == 0 and current_user.pref_color == 1 %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth(null, 'green');
		themeElements();
	});
</script>
{% elif current_user.pref_theme == 0 and current_user.pref_color == 2 %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth(null, 'purple');
		themeElements();
	});
</script>
{% else %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeAuth(null, 'pink');
		themeElements();
	});
</script>
{% endif %}
{% else %}
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
		themeNoAuth();
		themeElements();
	});
</script>
{% endif %}
{% endblock %}

{% block title %}{% if title %}{{ title }} - Tamari{% else %}Tamari{% endif %}{% endblock %}

{% block extrastyles %}
{% endblock %}

{% block navbar %}
<header id="navbar">
	<div class="navbarinner">
		<div class="navlogo"></div>
		<div class="mobile-title">
			{% if current_user.is_authenticated %}
			<h1 class="mt-myrecipes">My Recipes</h1>
			<h1 class="mt-explore">Explore</h1>
			<h1 class="mt-lists">Shopping Lists</h1>
			<h1 class="mt-mealplanner">Meal Planner</h1>
			<h1 class="mt-about">About</h1>
			<h1 class="mt-myaccount">My Account</h1>
			<h1 class="mt-tam">Tamari</h1>
			{% else %}
			<h1 class="mt-tamari">Tamari</h1>
			{% endif %}
		</div>
		{% if current_user.is_authenticated %}
		<ul class="navleft">
			<li class="myrecipes-active"><a href="{{ url_for('myrecipes.allRecipes') }}"><span>My Recipes</span></a></li
			><li class="explore-active"><a href="{{ url_for('explore.explore') }}"><span>Explore</span></a></li
			><li class="shoplist-active"><a href="{{ url_for('shoplists.shoppingLists') }}"><span><span class="linkcollapse">Shopping </span>Lists</span></a></li
			><li class="mealplanner-active"><a href="{{ url_for('mealplanner.mealPlanner') }}"><span><span class="linkcollapse">Meal </span>Planner</span></a></li
			><li class="about-active"><a href="{{ url_for('account.about') }}"><span>About</span></a></li>
		</ul>
		<nav class="navright" onclick="toggleDropdown()">
			{% if current_user.pref_picture == 0 and current_user.pref_color == 0 %}
			<div class="navrighticon icon-1-blue"></div>
			{% elif current_user.pref_picture == 0 and current_user.pref_color == 1 %}
			<div class="navrighticon icon-1-green"></div>
			{% elif current_user.pref_picture == 0 and current_user.pref_color == 2 %}
			<div class="navrighticon icon-1-purple"></div>
			{% elif current_user.pref_picture == 0 and current_user.pref_color == 3 %}
			<div class="navrighticon icon-1-pink"></div>
			{% elif current_user.pref_picture == 1 and current_user.pref_color == 0 %}
			<div class="navrighticon icon-2-blue"></div>
			{% elif current_user.pref_picture == 1 and current_user.pref_color == 1 %}
			<div class="navrighticon icon-2-green"></div>
			{% elif current_user.pref_picture == 1 and current_user.pref_color == 2 %}
			<div class="navrighticon icon-2-purple"></div>
			{% elif current_user.pref_picture == 1 and current_user.pref_color == 3 %}
			<div class="navrighticon icon-2-pink"></div>
			{% elif current_user.pref_picture == 2 and current_user.pref_color == 0 %}
			<div class="navrighticon icon-3-blue"></div>
			{% elif current_user.pref_picture == 2 and current_user.pref_color == 1 %}
			<div class="navrighticon icon-3-green"></div>
			{% elif current_user.pref_picture == 2 and current_user.pref_color == 2 %}
			<div class="navrighticon icon-3-purple"></div>
			{% elif current_user.pref_picture == 2 and current_user.pref_color == 3 %}
			<div class="navrighticon icon-3-pink"></div>
			{% elif current_user.pref_picture == 3 and current_user.pref_color == 0 %}
			<div class="navrighticon icon-4-blue"></div>
			{% elif current_user.pref_picture == 3 and current_user.pref_color == 1 %}
			<div class="navrighticon icon-4-green"></div>
			{% elif current_user.pref_picture == 3 and current_user.pref_color == 2 %}
			<div class="navrighticon icon-4-purple"></div>
			{% else %}
			<div class="navrighticon icon-4-pink"></div>
			{% endif %}
			<div class="dropdown-content" id="myDropdown">
				<a href="{{ url_for('account.user') }}">My Account</a>
				<a href="{{ url_for('account.logout') }}">Sign Out</a>
			</div>
		</nav>
		{% else %}
		<ul class="navnoauth">
			<li><a href="{{ url_for('account.login') }}"><span>Login</span></a></li
			><li><a href="{{ url_for('account.register') }}"><span>Register</span></a></li>
		</ul>
		{% endif %}
		<div class="mobile-dropdown">
			<input type="checkbox" id="checkbox_toggle">
			<label for="checkbox_toggle" class="hamburger">
				<span class="line line-1"></span>
				<span class="line line-2"></span>
				<span class="line line-3"></span>
			</label>
			<div class="mobilebg">
				<section>
					{% if current_user.is_authenticated %}
					<ul class="mobilebg-top">
						<li><a href="{{ url_for('myrecipes.allRecipes') }}">My Recipes</a></li>
						<li><a href="{{ url_for('explore.explore') }}">Explore</a></li>
						<li><a href="{{ url_for('shoplists.shoppingLists') }}">Shopping Lists</a></li>
						<li><a href="{{ url_for('mealplanner.mealPlanner') }}">Meal Planner</a></li>
						<li><a href="{{ url_for('account.about') }}">About Tamari</a></li>
					</ul>
					<hr>
					<ul class="mobilebg-bottom">
						<li><a href="{{ url_for('account.user') }}">My Account</a></li>
						<li><a href="{{ url_for('account.logout') }}">Sign Out</a></li>
					</ul>
					{% if current_user.pref_picture == 0 and current_user.pref_color == 0 %}
					<div class="drop-profile icon-1-blue">&nbsp;</div>
					{% elif current_user.pref_picture == 0 and current_user.pref_color == 1 %}
					<div class="drop-profile icon-1-green">&nbsp;</div>
					{% elif current_user.pref_picture == 0 and current_user.pref_color == 2 %}
					<div class="drop-profile icon-1-purple">&nbsp;</div>
					{% elif current_user.pref_picture == 0 and current_user.pref_color == 3 %}
					<div class="drop-profile icon-1-pink">&nbsp;</div>
					{% elif current_user.pref_picture == 1 and current_user.pref_color == 0 %}
					<div class="drop-profile icon-2-blue">&nbsp;</div>
					{% elif current_user.pref_picture == 1 and current_user.pref_color == 1 %}
					<div class="drop-profile icon-2-green">&nbsp;</div>
					{% elif current_user.pref_picture == 1 and current_user.pref_color == 2 %}
					<div class="drop-profile icon-2-purple">&nbsp;</div>
					{% elif current_user.pref_picture == 1 and current_user.pref_color == 3 %}
					<div class="drop-profile icon-2-pink">&nbsp;</div>
					{% elif current_user.pref_picture == 2 and current_user.pref_color == 0 %}
					<div class="drop-profile icon-3-blue">&nbsp;</div>
					{% elif current_user.pref_picture == 2 and current_user.pref_color == 1 %}
					<div class="drop-profile icon-3-green">&nbsp;</div>
					{% elif current_user.pref_picture == 2 and current_user.pref_color == 2 %}
					<div class="drop-profile icon-3-purple">&nbsp;</div>
					{% elif current_user.pref_picture == 2 and current_user.pref_color == 3 %}
					<div class="drop-profile icon-3-pink">&nbsp;</div>
					{% elif current_user.pref_picture == 3 and current_user.pref_color == 0 %}
					<div class="drop-profile icon-4-blue">&nbsp;</div>
					{% elif current_user.pref_picture == 3 and current_user.pref_color == 1 %}
					<div class="drop-profile icon-4-green">&nbsp;</div>
					{% elif current_user.pref_picture == 3 and current_user.pref_color == 2 %}
					<div class="drop-profile icon-4-purple">&nbsp;</div>
					{% else %}
					<div class="drop-profile icon-4-pink">&nbsp;</div>
					{% endif %}
					{% else %}
					<ul>
						<li><a href="{{ url_for('account.login') }}">Login</a></li>
						<li><a href="{{ url_for('account.register') }}">Register</a></li>
					</ul>
					{% endif %}
				</section>
			</div>
		</div>
	</div>
</header>
{% endblock %}

