{% extends "base.html" %}

{% block styles %}
	<link href="{{ url_for('static', filename='master.css', _external=True) }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename='set-password.css', _external=True) }}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='set-password.js', _external=True) }}"></script>
{% endblock %}

{% block content %}
<main id="block1">
	<div id="b1box" class="block1box">
		<div class="block1top">
			<div class="b1logo"></div>
		</div>
		<div id="b1bottom" class="block1bottom">
			<h3>Set New Password</h3>
			<form method="post" novalidate>
				{{ form.hidden_tag() }}
				<div class="form-group  required">
					{{ form.password(class="form-control", placeholder="Password") }}
					{% for error in form.password.errors %}
					<span id="errorpassword1">{{ error }}</span>
					{% endfor %}   
				</div>
				<div class="form-group  required">
					{{ form.password2(class="form-control", placeholder="Repeat Password") }}
					{% for error in form.password2.errors %}
					<span id="errorpassword2">{{ error }}</span>
					{% endfor %}
				</div>
				{{ form.submit(class="btn btn-default") }}
			</form>
		</div>
	</div>
</main>
{% endblock %}
